@model FomMonitoringBLL.ViewModel.HeaderViewModel
@using FomMonitoringCore.Service
@using FomMonitoringResources

@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="button-addplant testo-abbreviato" onclick="PlantManager.addClickEvent()">
            <i class="icon-plus"></i>@Resource.AddPlant
        </div>
    </div>
</div>

<div class="col-12 container-plant-manager">
    <div class="table-responsive">
        <table class="table data-table plants-table" id="plants-table"></table>
    </div>
</div>

<div class="modal fade plant-modal" id="plant-modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left margin-top-5"></h4>
                <button type="button" class="close" onClick="PlantManager.clearActualPlant()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                    <form class="form-horizontal" id="plant-modal-form">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-4 control-label" for="name-input">Name:</label>
                                <div class="col-7">
                                    <input v-model="actual.Name" name="name-input" class="form-control input-md modal-input" id="name-input" type="text" placeholder="Name" maxlength="100" required>
                                    <div v-show="missing.Name" class="validation">@Resource.FieldRequired.</div>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-4 control-label" for="address-input">@Resource.PlantAddress:</label>
                                <div class="col-7">
                                    <input v-model="actual.Address" name="address-input" class="form-control input-md modal-input" id="address-input" type="text" placeholder="@Resource.PlantAddress" maxlength="250">
                                </div>
                            </div>
                            @if (Model.User.Role == enRole.Administrator)
                            {
                                <!-- Select Basic -->
                                <div class="form-group" id="form-customer-input">
                                    <label class="col-4 control-label" for="role-input">@Resource.PlantCustomers:</label>
                                    <div class="col-7">
                                        <select v-model="customers.active" class="form-control input-md modal-input" id="customer-input" v-on:change="changeCustomer()" title="@Resource.NothingSelected" type="text" required>
                                            <option v-for="customer in customers.all" v-bind:value="customer">{{customer}}</option>
                                        </select>
                                        <div v-show="missing.Customer" class="validation">@Resource.FieldRequired.</div>
                                    </div>
                                </div>

                            }

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-4 control-label" for="role-input">@Resource.PlantMachines:</label>
                                <div class="col-7">
                                    <select v-model="machines.active" class="form-control input-md modal-input" id="machines-input" title="@Resource.NothingSelected" type="text" multiple required>
                                        <option v-for="machine in machines.all" v-bind:value="machine.Id">({{machine.Serial}}) - {{machine.MachineName}}</option>
                                    </select>
                                    <div v-show="missing.Machines" class="validation">@Resource.FieldRequired.</div>
                                </div>
                            </div>

                        </fieldset>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-annulla" onclick="PlantManager.clearActualPlant()">@Resource.Cancel</button>
                <button type="button" onClick="PlantManager.addPlant()" class="btn btn-confirm js-add display-none">@Resource.Save</button>
                <button type="button" onClick="PlantManager.modifyPlant()" class="btn btn-confirm js-modify display-none">@Resource.Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    $(document).ready(function ()
    {
        var resource = {
            PlantName: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantName))',
            Address: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantAddress))',
            PlantCustomer: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantCustomers))',
            PlantMachines: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantMachines))',
            Modify: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Modify))',
            Delete: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Delete))',
            Error: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Error))',
            Search: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Search))',
            AddPlant: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.AddPlant))',
            PlantCreated: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantCreated))',
            NothingFound: '@Html.Raw(HttpUtility.JavaScriptStringEncode("NothingFound"))',
            PlantDeleted: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantDeleted))',
            PlantDeletedConfirm: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantDeletedConfirm))',
            ComeBack: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.ComeBack))',
            Continue: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Continue))',
            PlantImpossibileDeleted: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantImpossibileDeleted))',
            PlantModify: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantModify))',
            PlantModified: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantModified))',
            ErrorOccurred: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.ErrorOccurred))',
            PlantDelete: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PlantDelete))',
            MachineWithPlantConfirm: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.MachineAssociatedToPlant))'
        };

                var data = @Html.Raw(Json.Encode(Model.User));
                PlantManager.init(data, "@ViewBag.BaseUrl", resource);
    });
</script>

