
@model FomMonitoringBLL.ViewModel.PanelParametersViewModel
@using FomMonitoringResources

<div id="CardMotorKeope" class="portlet">
    <div class="portlet-title">
        <div class="portlet-kpi">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                <i class="fa icofom-motori fa-stack-1x fa-inverse" style="font-size:21px"></i>
            </span>
        </div>
        <div class="title-kpi" style="max-width: 130px;">
            <span>@Resource.Motors</span>
            <div class="sub-period">@Resource.UntilNow</div>
        </div>
    </div>
    <div class="portlet-body text-center" style="height:244px">
        <div class="card-portlet">
            <div v-if="fixedHead != null && fixedHead.length > 0 && mobileHead != null && mobileHead.length > 0" style="height:242px">
                <hr style="background-color:#0c3817;height:2px;border:none" />
                <div style="cursor:auto;height:50%">
                    <table class="table-spindle">
                        <tr>
                            <td class="portlet-subtitle" style="font-size: 11px">
                                @Html.Raw(Resource.FixedHead)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%; height:100%">
                                    <tr>
                                        <td class="td-tool">
                                            <label style="vertical-align: top;width:20px"><i class="fa fa-toggle-on fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="fixedHead[0] != null" class="label-tools" v-html="fixedHead[0].Description"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label style="vertical-align: top;color:red"><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="fixedHead[1] != null" class="label-tools" v-html="fixedHead[1].Description"></label>
                                        </td>
                                        <td class="td-tool"></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tool">
                                            <label v-if="fixedHead[0] && fixedHead[0].Value != null" class="label-tools-value" v-html="fixedHead[0].Value"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label v-if="fixedHead[1] != null && fixedHead[1].Value" class="label-tools-value" v-html="fixedHead[1].Value"></label>
                                        </td>
                                        <td class="td-tool">
                                            <label class="label-tools-value"></label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>



                    <table class="table-spindle">
                        <tr>
                            <td class="portlet-subtitle" style="font-size: 11px">
                                @Html.Raw(Resource.MobileHead)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%; height:100%">
                                    <tr>
                                        <td class="td-tool">
                                            <label style="vertical-align: top;width:20px"><i class="fa fa-toggle-on fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="mobileHead[0] != null" class="label-tools" v-html="mobileHead[0].Description"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label style="vertical-align: top;color:red"><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="mobileHead[1] != null" class="label-tools" v-html="mobileHead[1].Description"></label>
                                        </td>
                                        <td class="td-tool"></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tool">
                                            <label v-if="mobileHead[0] && mobileHead[0].Value != null" class="label-tools-value" v-html="mobileHead[0].Value"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label v-if="mobileHead[1] != null && mobileHead[1].Value" class="label-tools-value" v-html="mobileHead[1].Value"></label>
                                        </td>
                                        <td class="td-tool">
                                            <label class="label-tools-value"></label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <no-data v-else></no-data>
        </div>
    </div>


</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        MotorKeope.init(data);
    });

</script>

