@model FomMonitoringBLL.ViewModel.ToolViewModel
@using FomMonitoringCore.Service

<div id="CardTools" class="@ViewData["Classes"]" v-show="showed">
    <div class="portlet">
    <div class="portlet-title">
        <div class="portlet-kpi">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                <i class="fa icofom-lama fa-stack-1x fa-inverse" style="font-size: 1.5em"></i>
            </span>
        </div>
        <div class="title-kpi">
            <span class="testo-abbreviato">
                @LocalizationService.GetResource("Tools")</span>
            <div class="sub-period">
                @LocalizationService.GetResource("UntilNow")</div>
        </div>
    </div>
    <div class="portlet-body text-center" style="height: 244px">
        <div class="card-portlet">
            <div v-if="toolsTm != null && toolsTm.length > 0 && toolsTf != null && toolsTf.length > 0" style="height: 242px" class="slimscroll">
                <hr style="background-color: #0c3817; height: 2px; border: none"/>
                <div style="cursor: auto; height: 50%">
                    <table class="table-spindle" style="height: 100%">
                        <tr>
                            <td class="portlet-subtitle" style="font-size: 11px">
                                @Html.Raw(LocalizationService.GetResource("FixedHead"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%; height: 100%">
                                    <tr>
                                        <td class="td-tool">
                                            <label style="vertical-align: top;"><i class="fa fa-dot-circle-o fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="toolsTf[0] != null" class="label-tools" v-html="toolsTf[0].Description"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label style="vertical-align: top;"><i class="fa fa-circle-o fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="toolsTf[1] != null" class="label-tools" v-html="toolsTf[1].Description"></label>
                                        </td>
                                        <td class="td-tool">
                                            <div style="display: inline-flex">
                                                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <label class="label-tools">@Html.Raw(LocalizationService.GetResource("Ore_vita_lama_ef"))</label>-->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-tool">
                                            <label v-if="toolsTf[0] && toolsTf[0].Value != null" class="label-tools-value text-center" v-html="toolsTf[0].Value"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label v-if="toolsTf[1] != null && toolsTf[1].Value" class="label-tools-value text-center" v-html="toolsTf[1].Value"></label>
                                        </td>
                                        <td class="td-tool">
                                            <label class="label-tools-value text-center"></label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>



                    <table class="table-spindle .table-spindle-tools">
                        <tr>
                            <td class="portlet-subtitle" style="font-size: 11px">
                                @Html.Raw(LocalizationService.GetResource("MobileHead"))
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%; height: 100%">
                                    <tr>

                                        <td class="td-tool">
                                            <label style="vertical-align: top;"><i class="fa fa-dot-circle-o fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="toolsTm[0] != null && toolsTm[0].Description != null" class="label-tools" v-html="toolsTm[0].Description"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label style="vertical-align: top;"><i class="fa fa-circle-o fa-lg" aria-hidden="true"></i></label>
                                            <label v-if="toolsTm[1] != null" class="label-tools" v-html="toolsTm[1].Description"></label>
                                        </td>
                                        <td class="td-tool">
                                            <div style="display: inline-flex">
                                                <!--<i class="fa fa-clock-o" aria-hidden="true"></i>
                                                <label class="label-tools">@Html.Raw(LocalizationService.GetResource("Ore_vita_lama_ef"))</label>-->
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td-tool">
                                            <label v-if="toolsTm[0] != null && toolsTm[0].Value != null" class="label-tools-value text-center" v-html="toolsTm[0].Value"></label>
                                        </td>
                                        <td class="td-tool tool-border-left">
                                            <label v-if="toolsTm[1] != null && toolsTm[1].Value != null" class="label-tools-value text-center" v-html="toolsTm[1].Value"></label>
                                        </td>
                                        <td class="td-tool">
                                            <label class="label-tools-value text-center"></label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <no-data v-else></no-data>
        </div>
    </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        console.log(data);
        ToolsBlitz.init(data);
    });

</script>
