@model FomMonitoringBLL.ViewModel.PanelParametersViewModel
@using FomMonitoringCore.Service

<div id="CardToolsFmcLmx" class="@ViewData["Classes"]" v-show="showed">
    <div class="portlet">
        <div class="portlet-title">
            <div class="portlet-kpi">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                    <i class="fa icofom-fresa fa-stack-1x fa-inverse" ></i>
                </span>
            </div>
            <div class="title-kpi">
                <span class="testo-abbreviato" v-if="panel == 35">
                    @LocalizationService.GetResource("LMX650_MMTools")</span>
                <span class="testo-abbreviato" v-else>
                    @LocalizationService.GetResource("Tools")
                </span>
                <div class="sub-period">
                    @LocalizationService.GetResource("UntilNow")</div>
                
            </div>
        </div>
        <div class="portlet-body text-center" style="height:244px">
            <div class="card-portlet">
                <div v-if="tools != null && tools.length > 0" class="slimscroll">
                    <hr style="background-color:#0c3817;height:2px;border:none" />
                    <div v-if="tools.length> 0 && tools.length < 3" style="width: 100%;height:100%;display: flex">
                        <div style="background-color: #b4b4b4; width: calc(33% + 3px);height: 100%"></div>
                        <div style="background-color: #BEBEBE; width:calc(33% + 1px);"></div>
                        <div style="background-color: #b4b4b4; width:calc(33% + 3px);"></div>
                    </div>
                    <table class="table-tools-fmc" style="position: absolute;top:0">
                        <tr>
                            <td>
                                <table style="width: 100%; height:100%">
                                    <template v-for="tool in tools" v-cloak>
                                        <tr style="width: 100%;" class="row-tools-fmc">
                                            <td class="td-tools-dark">
                                                <label style="vertical-align: top; width:20px"><i class="fa fa-suitcase fa-lg" aria-hidden="true"></i></label>
                                                <label class="label-tools">@LocalizationService.GetResource("Code")</label>
                                                <label class="label-tools-value fmc center" v-html="tool.Code"></label>
                                            </td>
                                            <td class="td-tools-light">
                                                <label style="vertical-align: top; width:20px"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></label>
                                                <label class="label-tools">@LocalizationService.GetResource("Description")</label>
                                                <label class="label-tools-value fmc" v-html="tool.Description"></label>
                                            </td>
                                            <td class="td-tools-dark td-tools-dark-life">
                                                <label style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                <label class="label-tools">@LocalizationService.GetResource("vitaUtensile_x")</label>
                                                <label class="label-tools-value fmc center" v-html="tool.ElapsedLife"></label>
                                            </td>
                                        </tr>
                                        <tr style="padding:0;background-color: #b4b4b4;height: 2px">
                                            <td colspan="3"><hr align="center" width="80%" class="tools" /></td>
                                        </tr>
                                    </template>

                                </table>
                            </td>
                        </tr>
                    </table>

                </div>
                <no-data v-else></no-data>
            </div>
        </div>


    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        console.log(data);
        ToolsFmcLmx.init(data);
    });

</script>
