@model FomMonitoringBLL.ViewModel.JobViewModel
@using FomMonitoringResources

<div id="CardJobs" class="portlet">
    <div class="portlet-title">
        <div class="portlet-kpi" v-cloak>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" v-bind:class="colorOrders"></i>
                <i class="fa icofom-jobs fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="title-kpi">
            @Resource.Orders
            <div class="sub-period js-period hidden-xs"></div>
        </div>
        <div class="portlet-details" v-if="jobs != null">
            <div class="btn-group">
                <div class="btn btn-outline sorting" v-bind:class="sortingCode" v-on:click="sortCode()">
                    <span>@Resource.Code</span>
                </div>
                <div class="btn btn-outline sorting" v-bind:class="sortingProgress" v-on:click="sortProgress()">
                    <span>%@Resource.Progress</span>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="card-portlet" v-if="jobs != null" v-cloak>
            <div class="slimscroll">
                <table class="table table-alerts table-jobs">
                    <thead>
                        <tr>
                            <th class="th-title">
                            </th>
                            <th class="th-duration sorting" v-bind:class="sorting.duration" v-on:click="sortDay()">                               
                                <span class="value-title">@Resource.Date</span>
                            </th>
                            <th class="th-duration sorting" v-bind:class="sorting.duration" v-on:click="sortDuration()">
                                <i class="fa fa-clock-o color-aaa"></i>
                                <span class="value-title">@Resource.Time</span>
                            </th>
                            <th class="th-number sorting" v-bind:class="sorting.quantity" v-on:click="sortQuantity()">
                                <i class="fa fa-puzzle-piece color-aaa"></i>
                                <span class="value-title">pz</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="job in jobs" v-cloak>
                            <td>
                                <div class="worder-icon hidden-xs">
                                    <i class="fa font-18x" v-bind:class="iconClass(job.perc)"></i>
                                </div>
                                <div class="worder-info">
                                    <div class="item-alert">
                                        <div class="code-alert">
                                            {{ job.code }}
                                            <span class="pull-right">{{ job.perc }}<em>%</em></span>
                                        </div>
                                    </div>
                                    <div class="progress progress-job slim">
                                        <div class="progress-bar" v-bind:class="bgClass(job.perc)" v-bind:aria-valuenow="job.perc"></div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="label label-default">{{job.formatted_day}}</span>
                            </td>
                            <td>
                                <span class="label label-default">
                                    <time-span v-bind:duration="job.time"></time-span>
                                </span>
                            </td>
                            <td>
                                <span class="label label-default">{{ job.quantity_day }}</span>
                                <span class="label label-default">{{ job.quantity }}<em>/{{ job.pieces }}</em></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <no-data v-else></no-data>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        Jobs.init(data);
    });

</script>

