@model FomMonitoringBLL.ViewModel.MessageViewModel
@using FomMonitoringResources

<div id="CardMessages" class="portlet">
    <div class="portlet-title">
        <div class="portlet-kpi" v-cloak>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" v-bind:class="colorAlarms"></i>
                <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="title-kpi">
            <span>@Resource.Messages</span>
            <div class="sub-period js-period"></div>
        </div>
        <div class="portlet-details" v-show="show.historical">
            <div class="dropdown" onclick="SharedManager.handlerDropdown($(this))">
                <div class="button drop-btn">
                    <i class="icon-options-vertical"></i>
                </div>
                <div class="dropdown-content right">
                    <div class="dd-item js-unflip active" data-group="messages">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </div>
                    <div class="dd-item js-flip slide-history" data-group="messages">
                        <i class="fa fa-history"></i>
                        <span>@Resource.Historical</span>
                    </div>
                    <div class="dd-item js-flip slide-summary" data-group="messages">
                        <i class="fa fa-archive"></i>
                        <span>Summary</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="card-portlet card-messages" v-cloak>
            <div class="front" style="padding: 0px;">
                <div v-if="messages != null">
                    <div class="slimscroll">
                        <table class="table table-alerts">
                            <thead>
                                <tr>
                                    <th style="padding-left:10px">
                                        <span class="value-title">
                                            @Resource.Code
                                        </span>
                                    </th>
                                    <th class="th-duration sorting" v-bind:class="sortingDet.timestamp" v-on:click="sortTimestamp()">
                                        <i class="fa fa-clock-o color-aaa"></i>
                                        <span class="value-title">
                                            @Resource.Timestamp
                                        </span>
                                    </th>
                                    <th class="th-duration sorting" v-bind:class="sortingDet.group" v-on:click="sortGroup()">
                                        <span class="value-title">
                                            @Resource.Group
                                        </span>
                                    </th>
                                    <th>
                                        <span class="value-title">
                                            @Resource.Description
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody v-for="message in details">
                                <tr>
                                    <td>
                                        <div class="item-icon fa fa-2x" v-bind:class="iconClass(message.type)"></div>
                                        <div class="item-alert">
                                            <div class="code-alert">{{ message.code }}</div>
                                            <div class="subtitle-alert" v-bind:class="colorClass(message.type)">{{ message.type }}</div>
                                        </div>
                                    </td>
                                    <td>{{ message.formatted_timestamp }}</td>
                                    <td>{{ message.group }}</td>
                                    <td>{{ message.description }}</td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
                <no-data v-else></no-data>
            </div>
            <div class="back">
                <div class="swiper-container messages">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div id="msg_historical_chart"></div>
                            <no-data v-if="!show.historical"></no-data>
                        </div>
                        <div class="swiper-slide">
                            <div id="msg_summary" v-if="messages != null">
                                <div class="slimscroll">
                                    <table class="table table-alerts">
                                        <thead>
                                            <tr>
                                                <th style="padding-left:10px">
                                                    <span class="value-title"> @Resource.Code </span>
                                                </th> 
                                                <th style="padding-left:10px">
                                                    <span class="value-title"> @Resource.Description </span>
                                                </th>
                                                <th class="th-duration sorting" v-bind:class="sorting.duration" v-on:click="sortDuration()">
                                                    <i class="fa fa-clock-o color-aaa"></i>
                                                    <span class="value-title">
                                                        @Resource.Time
                                                    </span>
                                                </th>
                                                <th class="th-number sorting" v-bind:class="sorting.quantity" v-on:click="sortQuantity()">
                                                    <i class="fa fa-exclamation-triangle color-aaa"></i>
                                                    <span class="value-title">qty</span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody v-for="message in messages">
                                            <tr>
                                                <td >                                                    
                                                    <div class="item-icon fa fa-2x" v-bind:class="iconClass(message.type)"></div>
                                                    <div class="item-alert">
                                                        <div class="code-alert">{{ message.code }}</div>
                                                        <div class="subtitle-alert" v-bind:class="colorClass(message.type)">{{ message.type }}</div>
                                                    </div>
                                                </td>
                                                <td>{{ message.description }}</td>
                                                <td>
                                                    <span class="label label-default">
                                                        <time-span v-bind:duration="message.time"></time-span>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="label label-default">{{ message.quantity }}</span>
                                                </td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <no-data v-else></no-data>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        Messages.init(data);
    });

</script>