@model FomMonitoringBLL.ViewModel.ProductivityViewModel
@using FomMonitoringResources

<div id="CardProductivity" class="portlet">
    <div class="portlet-title">
        <div class="portlet-kpi" v-cloak>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                <i class="fa icofom-productivity fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="title-kpi">
            <span>@Resource.Production</span>
            <span v-if="kpi != null" class="value-kpi" v-bind:class="colorKPI" v-cloak>
                {{ kpi.value }}<small>pz/h</small>
            </span>
            <div class="sub-period js-period"></div>
        </div>
        <div class="portlet-details" v-show="showDetails">
            <div class="dropdown" onclick="SharedManager.handlerDropdown($(this))">
                <div class="button drop-btn">
                    <i class="icon-options-vertical"></i>
                </div>
                <div class="dropdown-content right">
                    <div class="dd-item js-unflip active" data-group="productivity">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </div>
                    <div class="dd-item js-flip slide-history" data-group="productivity" v-show="show.historical">
                        <i class="fa fa-history"></i>
                        <span>@Resource.Historical</span>
                    </div>
                    <div class="dd-item js-flip slide-operator" data-group="productivity" v-show="show.operators">
                        <i class="fa fa-user"></i>
                        <span>@Resource.Operators</span>
                    </div>
                    <div class="dd-item js-flip slide-turni" data-group="productivity" v-show="show.shifts">
                        <i class="fa fa-sun-o"></i>
                        <span>@Resource.Shifts</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body border-panel" v-bind:class="colorKPI">
        <div class="card-portlet card-productivity" v-cloak>
            <div class="front">
                <div v-if="showDashboard">
                    <div class="row">
                        <!-- PIECES -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div v-if="piece != null">
                                <div class="item clearfix">
                                    <div class="item-title">
                                        @Resource.Pieces
                                    </div>
                                    <div class="item-label">
                                        <div class="icon fa fa-puzzle-piece"></div>
                                        <div>
                                            <div class="value-title">
                                                @Resource.Made
                                            </div>
                                            <div class="value">
                                                {{ piece.total }}<em>pz</em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress prod">
                                    <div class="progress-bar bg-max-piece" v-bind:aria-valuenow="piece.done.perc"></div>
                                    <div class="progress-bar bg-min-piece" v-bind:aria-valuenow="piece.redone.perc"></div>
                                </div>
                                <table class="table-legend">
                                    <tr>
                                        <td><div class="square bg-max-piece"></div>@Resource.Done</td>
                                        <td>{{ piece.done.perc | round }}<em>%</em></td>
                                        <td>{{ piece.done.number }}<em>pz</em></td>
                                    </tr>
                                    <tr v-if="type != '@enMachineType.Troncatrice.GetDescription()'">
                                        <td><div class="square bg-min-piece"></div>@Resource.Redone</td>
                                        <td>{{ piece.redone.perc | round }}<em>%</em></td>
                                        <td>{{ piece.redone.number }}<em>pz</em></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- MATERIALS -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div v-if="material != null">
                                <div class="item clearfix">
                                    <div class="item-title">
                                        @Resource.Material
                                    </div>
                                    <div class="item-label">
                                        <div class="icon fa fa-eraser"></div>
                                        <div>
                                            <div class="value-title">
                                                @Resource.Used
                                            </div>
                                            <div class="value">
                                                {{ material.total }}<em>m</em>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress prod">
                                    <div class="progress-bar bg-line" v-bind:aria-valuenow="material.bar.perc"></div>
                                    <div class="progress-bar bg-broken-line" v-bind:aria-valuenow="material.cutoff.perc"></div>
                                </div>
                                <table class="table-legend">
                                    <tr>
                                        <td><div class="square bg-line"></div>@Resource.Bars</td>
                                        <td>{{ material.bar.perc | round }}<em>%</em></td>
                                        <td>{{ material.bar.number }}<em>m</em></td>
                                    </tr>
                                    <tr v-if="type != '@enMachineType.Troncatrice.GetDescription()'">
                                        <td><div class="square bg-broken-line"></div>@Resource.Cutoff</td>
                                        <td>{{ material.cutoff.perc | round }}<em>%</em></td>
                                        <td>{{ material.cutoff.number }}<em>m</em></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="item clearfix" v-if="phases != null">
                                <div class="item-title">
                                    @Resource.Phases
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-9 item-center">
                            <div class="item clearfix" v-if="time != null">
                                <div class="item-label">
                                    <div class="icon fa fa-clock-o"></div>
                                    <div>
                                        <div class="value-title">
                                            @Resource.GrossTime
                                        </div>
                                        <div class="value">
                                            <time-span v-bind:duration="time"></time-span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 hidden-xs text-right no-padding-left">
                            <div class="item clearfix" v-if="operators != null">
                                <div class="item-title" style="float: none;">
                                    @Resource.Operators
                                </div>
                            </div>
                        </div>
                        <!-- PHASE -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div v-if="phases != null">
                                <div class="progress prod">
                                    <div v-for="(phase, i) in phases" class="progress-bar" v-bind:class="bgPhase(i)" v-bind:aria-valuenow="phase.perc"></div>
                                </div>
                                <table class="table-legend">
                                    <tr v-for="(phase, i) in phases">
                                        <td><div class="square" v-bind:class="bgPhase(i)"></div>{{ phase.text }}</td>
                                        <td>{{ phase.perc | round }}<em>%</em></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- OPERATOR -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div v-if="operators != null">
                                <div class="item clearfix visible-xs-block">
                                    <div class="item-title" style="margin: 0 0 5px;">
                                        @Resource.Operators
                                    </div>
                                </div>
                                <div class="progress prod">
                                    <div v-for="(operator, i) in operators" class="progress-bar" v-bind:class="bgOperator(i)" v-bind:aria-valuenow="operator.perc"></div>
                                </div>
                                <table class="table-legend">
                                    <tr v-for="(operator, i) in operators">
                                        <td><div class="square bg-first-oper" v-bind:class="bgOperator(i)"></div>{{ operator.text }}</td>
                                        <td>{{ operator.perc | round }}<em>%</em></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <no-data v-else></no-data>
            </div>
            <div class="back">
                <div class="swiper-container productivity">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div id="prd_historical_chart"></div>
                            <no-data v-if="!show.historical"></no-data>
                        </div>
                        <div class="swiper-slide">
                            <div id="prd_operators_chart"></div>
                            <no-data v-if="!show.operators"></no-data>
                        </div>
                        <div class="swiper-slide">
                            <div id="prd_shifts_chart"></div>
                            <no-data v-if="!show.shifts"></no-data>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        Productivity.init(data);
    });

</script>
