@model FomMonitoringBLL.ViewModel.MachineViewModel
@using FomMonitoringResources

@{
    ViewBag.AppTitle = "Machine Monitoring";
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
}

<div id="MachineLevel" class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        @Html.Partial("_Efficiency", Model.Efficiency)
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
        @Html.Partial("_Alarms", Model.Alarms)
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="row">
            <div class="col-sm-12">

                @Html.Partial("_Productivity", Model.Productivity)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("_Spindles", Model.Spindles)
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="row">
            <div class="col-sm-12">

                @Html.Partial("_Jobs", Model.Jobs)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.Partial("_Tools", Model.Tools)
            </div>
        </div>
    </div>

    
    <div class="col-lg-4 col-md-12 col-sm-12">
        @Html.Partial("_Test", Model.Errori)
    </div>
</div>

        <script type="text/x-template" id="no-data">
            <div class="no-data">
                <i class="fa fa-meh-o fa-3x"></i>
                <div>@Resource.NoData</div>
            </div>
        </script>

        <script type="text/javascript">

    MachineManager.initVueComponents();

    $(document).ready(function ()
    {
        var urlMachineAPI = '@Url.HttpRouteUrl("DefaultApi", new { controller = "AppApi", action = "GetMachineViewModel" })';
        MachineManager.init(urlMachineAPI);
    });

        </script>
