
@model FomMonitoringBLL.ViewModel.PanelParametersViewModel
@using FomMonitoringCore.Service

<div id="CardElectroSpindle" class="@ViewData["Classes"]" v-show="showed" style="padding: 0 15px;">
    <div class="portlet">
        <div class="portlet-title">
            <div class="portlet-kpi">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                    <i class="fa icofom-elettromandrino fa-stack-1x fa-inverse" style="font-size:21px"></i>
                </span>
            </div>
            <div class="title-kpi" style="max-width: 230px;">
                <span>@LocalizationService.GetResource("Electrospindle")</span>
                <div class="sub-period">@LocalizationService.GetResource("UntilNow")</div>
            </div>
        </div>
        <div class="portlet-body text-center" style="height:244px">
            <div class="card-portlet">
                <div v-if="noData() == false" style="height:242px" class="slimscroll">
                    <hr style="background-color:#0c3817;height:2px;border:none" />
                    <div style="cursor:auto;height:100%">
                        <table class="table-electro-spindle">
                            <tr>
                                <td>
                                    <table style="width: 100%; height:100%">
                                        <tr>
                                            <td class="td-electrospindle-data">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange1500 != null" class="label-electrospindle-title" v-html="values.RpmRange1500.Description"></label>
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange1500 != null" class="label-electrospindle-title">@LocalizationService.GetResource("ElapsedTime")</label>
                                                </td>
                                            <td class="td-electrospindle-data tool-border-left">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange5500 != null" class="label-electrospindle-title" v-html="values.RpmRange5500.Description"></label>
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange1500 != null" class="label-electrospindle-title">@LocalizationService.GetResource("ElapsedTime")</label>
                                            </td>
                                            <td class="td-electrospindle-data">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange8000 != null" class="label-electrospindle-title" v-html="values.RpmRange8000.Description"></label>
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>                                                
                                                <label v-if="values.RpmRange1500 != null" class="label-electrospindle-title">@LocalizationService.GetResource("ElapsedTime")</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-electrospindle-data">
                                                <label v-if="values.RpmRange1500 && values.RpmRange1500.ConvertedValue != null" class="label-electrospindle-data-value" v-html="values.RpmRange1500.ConvertedValue"></label>
                                            </td>
                                            <td class="td-electrospindle-data tool-border-left">
                                                <label v-if="values.RpmRange5500 != null && values.RpmRange5500.ConvertedValue" class="label-electrospindle-data-value" v-html="values.RpmRange5500.ConvertedValue"></label>
                                            </td>
                                            <td class="td-electrospindle-data">
                                                <label v-if="values.RpmRange8000 != null && values.RpmRange8000.ConvertedValue" class="label-electrospindle-data-value" v-html="values.RpmRange8000.ConvertedValue"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-electrospindle-data">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange11500 != null" class="label-electrospindle-title" v-html="values.RpmRange11500.Description"></label>
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange1500 != null" class="label-electrospindle-title">@LocalizationService.GetResource("ElapsedTime")</label>
                                            </td>
                                            <td class="td-electrospindle-data  tool-border-left">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange14500 != null" class="label-electrospindle-title" v-html="values.RpmRange14500.Description"></label>
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange1500 != null" class="label-electrospindle-title">@LocalizationService.GetResource("ElapsedTime")</label>
                                            </td>
                                            <td class="td-electrospindle-data">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange20000 != null" class="label-electrospindle-title" v-html="values.RpmRange20000.Description"></label>
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.RpmRange1500 != null" class="label-electrospindle-title">@LocalizationService.GetResource("ElapsedTime")</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-electrospindle-data">
                                                <label v-if="values.RpmRange11500 && values.RpmRange11500.ConvertedValue != null" class="label-electrospindle-data-value" v-html="values.RpmRange11500.ConvertedValue"></label>
                                            </td>
                                            <td class="td-electrospindle-data tool-border-left">
                                                <label v-if="values.RpmRange14500 != null && values.RpmRange14500.ConvertedValue" class="label-electrospindle-data-value" v-html="values.RpmRange14500.ConvertedValue"></label>
                                            </td>
                                            <td class="td-electrospindle-data">
                                                <label v-if="values.RpmRange20000 != null && values.RpmRange8000.ConvertedValue" class="label-electrospindle-data-value" v-html="values.RpmRange20000.ConvertedValue"></label>
                                            </td>
                                        </tr>
                                        <tr style="height:3px;">
                                            <td style="padding-left:0;"><hr width="80%" style="margin-right:0;" class="axes" /></td>
                                            <td style="padding-left:0;"><hr width="100%" style="padding-left:0;" class="axes" /></td>
                                            <td style="padding-left:0;"><hr width="80%" style="margin-left:0;" class="axes" /></td>
                                        </tr>
                                        <tr>
                                            <td class="td-electrospindle-data">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                <label class="label-electrospindle-title-bottom">@LocalizationService.GetResource("oreMandrinoAttivo")</label>
                                            </td>
                                            <td class="td-electrospindle-data tool-border-left">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.SblocchiPinza != null" class="label-electrospindle-title-bottom" v-html="values.SblocchiPinza.Description"></label>
                                            </td>
                                            <td v-if="values.ShowSovrassorbimento == true" class="td-electrospindle-data">
                                                <label class="electro-spindle-icon" style="vertical-align: top; width:20px"><i class="fa fa-sort-amount-asc fa-lg fa-rotate-180" aria-hidden="true"></i></label>
                                                <label v-if="values.QtaSovrassorbimento != null" class="label-electrospindle-title-bottom" v-html="values.QtaSovrassorbimento.Description"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-electrospindle-data">
                                                <label v-if="values.OreLavoroTotali != null && values.OreLavoroTotali.ConvertedValue" class="label-electrospindle-data-value" v-html="values.OreLavoroTotali.ConvertedValue"></label>
                                            </td>
                                            <td class="td-electrospindle-data tool-border-left">
                                                <label v-if="values.SblocchiPinza != null && values.SblocchiPinza.ConvertedValue" class="label-electrospindle-data-value" v-html="values.SblocchiPinza.ConvertedValue"></label>
                                            </td>
                                            <td class="td-electrospindle-data" v-if="values.ShowSovrassorbimento == true">
                                                <label v-if="values.QtaSovrassorbimento != null && values.QtaSovrassorbimento.ConvertedValue" class="label-electrospindle-data-value" v-html="values.QtaSovrassorbimento.ConvertedValue"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <no-data v-else></no-data>
            </div>
        </div>


    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        ElectroSpindle.init(data);
    });

</script>


