@model FomMonitoringBLL.ViewModel.MachineViewModel
@using FomMonitoringResources

<div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="row">
        @Html.Partial("Panels/_Efficiency", Model.Efficiency, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
</div>
<div class="col-xxl-8 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="row">
        <div class="col-12">
            @Html.Partial("Panels/_Messages", Model.Messages)
        </div>
    </div>
</div>
<div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="row">
        @Html.Partial("Panels/_Productivity", Model.Productivity, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
    @if (Model.MachinePanels.Contains((int)enPanel.BlitzMotorAxes))
    {
        <div class="row">
            <div class="col-12">
                @Html.Partial("Panels/MotorAxes/_Blitz", Model.PanelParameter)
            </div>
        </div>
    }
    else
    {
        if (Model.MachinePanels.Contains((int)enPanel.KeopeMotors))
        {
            <div class="row">
                <div class="col-12">
                    @Html.Partial("./Panels/Motor/_Keope", Model.PanelParameter)
                </div>
            </div>
        }
        else if (Model.MachinePanels.Contains((int)enPanel.Multispindle))
        {
            <div class="row">
                <div class="col-12">
                    @Html.Partial("./Panels/MultiSpindles/_Multispindle", Model.PanelParameter)
                </div>
            </div>
        }
        else
        {
            if (Model.MachineInfo.id_mtype == (int)enMachineType.LineaTaglioLavoro)
            {
                <div class="row">
                    <div class="col-12">
                        @Html.Partial("Panels/_Spindles", Model.PanelParameter)
                    </div>
                </div>
            }
        }

    }
    @*@if (Model.MachineInfo.id_mtype == (int)enMachineType.LineaTaglioLavoro)
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("_XSpindles", Model.XSpindles)
                </div>
            </div>
        }*@
    @if (Model.MachinePanels.Contains((int)enPanel.XSpindles))
    {
        <div class="row">
            @Html.Partial("./Panels/ElectroSpindle/_ElectroSpindle", Model.PanelParameter, new ViewDataDictionary
            {
                { "Classes", "col-12" }
            })
        </div>
    }
    @if (Model.MachinePanels.Contains((int)enPanel.KeopeAxes))
    {
        <div class="row">
            <div class="col-12">
                @Html.Partial("./Panels/Axes/_Keope", Model.PanelParameter)
            </div>
        </div>
    }
</div>
<div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="row">

        @Html.Partial("Panels/_Jobs", Model.Jobs, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
    @if (Model.MachinePanels.Contains((int)enPanel.ToolsBlitz))
    {
        <div class="row">
            <div class="col-12">
                @Html.Partial("./Panels/Tools/_Blitz", Model.Tools)
            </div>
        </div>
    }
    else
    {
        if (Model.MachinePanels.Contains((int)enPanel.ToolsFmcLmx))
        {
            <div class="row">
                @Html.Partial("./Panels/Tools/_FmcLmx", Model.PanelParameter, new ViewDataDictionary
                {
                    { "Classes", "col-12" }
                }))
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    @Html.Partial("Panels/_Tools", Model.Tools)
                </div>
            </div>
        }
    }

    @if (Model.MachineInfo.id_mtype == (int)enMachineType.LineaTaglioLavoro)
    {
        <div class="row">
            <div class="col-12">
                @Html.Partial("Panels/_XTools", Model.XTools)
            </div>
        </div>
    }
</div>
<div class="col-xxl-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="row">
        @Html.Partial("Panels/_Maintenance", Model.Maintenance, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
</div>

@if (Model.MachinePanels.Contains((int)enPanel.Electrospindle))
{
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="row">
            @Html.Partial("Panels/ElectroSpindle/_ElectroSpindle", Model.PanelParameter, new ViewDataDictionary
            {
                { "Classes", "col-12" }
            })
        </div>
    </div>
}
@if (Model.MachinePanels.Contains((int)enPanel.OtherMachineData))
{
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="row">
            @Html.Partial("Panels/ElectroSpindle/_OtherMachineData", Model.PanelParameter, new ViewDataDictionary
            {
                { "Classes", "col-12" }
            })
        </div>
    </div>
}

@if (Model.MachinePanels.Contains((int)enPanel.LinearAxesLMX))
{
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        @Html.Partial("Panels/Axes/_LMX_650", Model.PanelParameter, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
}
@if (Model.MachinePanels.Contains((int)enPanel.TiltingMSAxesLMX))
{
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        @Html.Partial("Panels/TiltingAxes/_LMX650", Model.PanelParameter, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
}
@if (Model.MachinePanels.Contains((int)enPanel.RotaryAxesLMX))
{
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        @Html.Partial("Panels/RotaryAxes/_LMX650", Model.PanelParameter, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
}
@if (Model.MachinePanels.Contains((int)enPanel.XMUSp_SensorsLMX))
{
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        @Html.Partial("Panels/SensorSpindles/_LMX650", Model.PanelParameter, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
}
@if (Model.MachinePanels.Contains((int)enPanel.MotorBladeLMX))
{
    <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        @Html.Partial("Panels/motor/_LMX_650", Model.PanelParameter, new ViewDataDictionary
        {
            { "Classes", "col-12" }
        })
    </div>
}