@model FomMonitoringBLL.ViewModel.MachineViewModel
@using FomMonitoringResources

<div class="col">
    <div class="row align-items-center">
        <div id="buttons-bar" class="col col-sm-12 col-md-12 col-lg-12 col-xl-12" v-show="isMobile()">
            <div class="row">
                <div class="btn-group col" style="background-color: transparent; padding-left: 0; padding-right: 0;">
                    <button type="button" id="btn-efficiency" data-panel="efficiency" class="no-borders">
                        <span>
                            <i class="fa icofom-efficiency color-green"></i>
                        </span>
                    </button>
                    <button type="button" id="btn-production" data-panel="production" class="no-borders">
                        <span>
                            <i class="fa icofom-productivity color-red"></i>
                        </span>
                    </button>
                    <button type="button" id="btn-maintenance" data-panel="maintenance" class="no-borders">
                        <span class="fa fa-stack">
                            <i class="fa fa-circle fa-stack-2x" style="color: cornflowerblue;"></i>
                            <i class="fa fa-info fa-inverse fa-stack-1x"></i>
                        </span>
                    </button>
                    <button type="button" id="btn-ordersStandard" data-panel="ordersStandard" class="no-borders">
                        <span>
                            <i class="fa icofom-jobs color-orange"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center machine-image-wrapper" id="image-machine-sm">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-9">
            <div style="height: 65%; padding-bottom: 13px;">
                @Html.Action("GetHtmlPage", "Shared", new { path = "~/images/panels/FMC-immagine_macchina_CORTA_2.svg" })
            </div>
        </div>
    </div>
    <div class="row justify-content-center machine-image-wrapper" id="image-machine-lg">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-9">
            <div style="height: 65%; padding-bottom: 13px;">
                @Html.Action("GetHtmlPage", "Shared", new { path = "~/images/panels/FMC-immagine_macchina_LUNGA.svg" })
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12" style="background-color: rgb(203, 202, 202);">
            <div class="row justify-content-center">        
                <div id="panels-box" class="col-10 col-sm-10 col-md-8" style="background-color: #cbcaca; padding-top: 30px; padding-bottom: 30px; width: 100%; height: calc(70vh);" v-show="machineGroupSelected == null && machinePanelSelected == null && isMobile()">
                    <div class="btn-group machine-group-selection" style="width: 100%; background-color: #cbcaca">
                        <button type="button" data-group="FMC3-4_axes" class="no-borders" style="width: 220px; background-color: #cbcaca">
                            <img class="img-button-group" src="~/Images/panels/CARD-AXES_220X220px.svg"/>
                        </button>
                        <button type="button" data-group="FMC3-4_tools" class="no-borders" style="width: 220px; background-color: #cbcaca">
                            <img class="img-button-group" src="~/Images/panels/CARD-TOOLS_220X220px.svg"/>
                        </button>
                        <button type="button" data-group="FMC3-4_spindles" class="no-borders" style="width: 220px; background-color: #cbcaca">
                            <img class="img-button-group" src="~/Images/panels/CARD_SPINDLE_220X220px.svg"/>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 panels-area">
            <div class="row">
                @Html.Partial("Panels/_Efficiency", Model.Efficiency, new ViewDataDictionary
                {
                    {"Classes", "col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"}
                })
                @Html.Partial("Panels/_Productivity", Model.Productivity, new ViewDataDictionary
                {
                    {"Classes", "col-xxl-4 col-xl-6  col-lg-6 col-md-12 col-sm-12 col-12"}
                })
                @Html.Partial("Panels/_Jobs", Model.Jobs, new ViewDataDictionary
                {
                    {"Classes", "col-xxl-4 col-xl-6  col-lg-6 col-md-12 col-sm-12 col-12"}
                })
                @*<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12" v-show="machinePanelSelected != null && machinePanelSelected != 'maintenance' && isMobile()">
                    <div class="empty-area" style="height: 100%"></div>
                </div>*@
                @Html.Partial("Panels/ElectroSpindle/_OtherMachineData", Model.PanelParameter, new ViewDataDictionary
                {
                    {"Classes", "col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"}
                })

                @Html.Partial("Panels/ElectroSpindle/_ElectroSpindle", Model.PanelParameter, new ViewDataDictionary
                {
                    {"Classes", "col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"}
                })

                @Html.Partial("Panels/Tools/_FmcLmx", Model.PanelParameter, new ViewDataDictionary
                {
                    {"Classes", "col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"}
                })


                @Html.Partial("Panels/_Maintenance", Model.Maintenance, new ViewDataDictionary
                {
                    {"Classes", "col-xxl-4 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 order-lg-last order-xl-last"}
                })
                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 placeholder-panel-mobile" style="min-height: 298px;">
                    <div class="empty-area" style="height: 100%"></div>
                </div>
                <div id="MsgPanel" class="col-xxl-8 col-xl-6 col-lg-6 col-md-12 col-sm-12 order-lg-11 order-xl-11">
                    <div class="row">
                        <div class="col-12">
                            @Html.Partial("Panels/_Messages", Model.Messages)
                        </div>

                        <div class="col-12 placeholder-panel-full" style="height: 298px;">
                            <div class="empty-area"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    $(document).ready(function() {
        ImageManager.init();      
    });
</script>