@using RazorEngine.Text
@model FomMonitoringCore.Renderer.EmailChangedPasswordDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        /* cyrillic-ext */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        /* cyrillic */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        /* greek */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2) format('woff2');
            unicode-range: U+0370-03FF;
        }
        /* vietnamese */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 100;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        /* cyrillic-ext */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhGq3-OXg.woff2) format('woff2');
            unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
        }
        /* cyrillic */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhPq3-OXg.woff2) format('woff2');
            unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
        }
        /* greek */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2) format('woff2');
            unicode-range: U+0370-03FF;
        }
        /* vietnamese */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhEq3-OXg.woff2) format('woff2');
            unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
        }
        /* latin-ext */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        /* latin */
        @@font-face {
            font-family: 'Roboto Mono';
            font-style: normal;
            font-weight: 400;
            font-display: swap;
            src: url(https://fonts.gstatic.com/s/robotomono/v11/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

    </style>
</head>
<body>
<div style="background-color:white; overflow-y: scroll;">
    <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" src="https://lola-test.fomindustrie.com/Images/email/background-min.jpg" color="#7bceeb"/>
        </v:background>
    <![endif]-->
    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top" align="left" background="https://lola-test.fomindustrie.com/Images/email/background-min.jpg" style="background-size: cover;font-size: 21px;line-height: 42px;font-family: 'Roboto Mono', monospace;">
            
            <table style="width: 640px; margin: auto; background-color: white; padding-top: 60px; padding-bottom: 60px;">
                <tr>
                    <td>
                        <table style="width: 520px; margin: auto;">
                            <tr>
                                <td>
                                    <img src="https://lola-test.fomindustrie.com/Images/email/Logo_email.jpg" height="98" width="525" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="padding-top: 80px; padding-bottom: 80px;">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="color: #ad2551;font-size: 21px;line-height: 32px;font-family: 'Roboto Mono', monospace;">
                                                    @(new RawString(Model.FirstPart))
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="username-part-text" style="padding-top: 30px; color: #808181;font-size: 21px;line-height: 32px;font-family: 'Roboto Mono', monospace;">
                                                    @(new RawString(Model.UsernameLabel)) <span  style="color: #6f1130;">@(new RawString(Model.Username))</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color: #808181;font-size: 21px;line-height: 32px;font-family: 'Roboto Mono', monospace;">
                                                    @(new RawString(Model.PasswordLabel)) <span style="color: #6f1130;">@(new RawString(Model.Password))</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="background-color: #6f1130; height: 4px; margin-bottom: 30px; margin-top: 30px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color: #ad2551;font-size: 21px;line-height: 32px;font-family: 'Roboto Mono', monospace;">
                                                    @(new RawString(Model.LastPart))
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: #6f1130;font-size: 11px;line-height: 18px;font-family: 'Roboto Mono', monospace;">
                                    @(new RawString(Model.FooterText))
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    </table>
</div>
</body>
</html>
