
@using RazorEngine.Text
@model FomMonitoringCore.Renderer.EmailChangedPasswordDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="text/css" href="https://lola-test.fomindustrie.com/Content/google-font-roboto-mono.css" />
    <style>
        td, div {
            background-size: cover;
            font-size: 21px;
            line-height: 42px;
            font-family: 'Roboto Mono', monospace;
        }

        body {
            font-family: 'Roboto Mono', monospace;
        }

        .first-part-text, .last-part-text {
            color: #ad2551;
        }

        .username-part-text, .password-part-text {
            color: #808181;
        }

        .user-info-text, .footer-part-text, .user-type-label {
            color: #6f1130;
        }
    </style>
</head>
<body>
<div style="background-color:white; overflow-y: scroll">
    <!--[if gte mso 9]>
        <v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
            <v:fill type="tile" src="https://lola-test.fomindustrie.com/Images/email/background-min.jpg" color="#7bceeb"/>
        </v:background>
    <![endif]-->
    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td valign="top" align="left" background="https://lola-test.fomindustrie.com/Images/email/background-min.jpg">
            
            <table style="width: 640px; margin: auto; background-color: white; padding-top: 60px; padding-bottom: 60px;">
                <tr>
                    <td>
                        <table style="width: 520px; margin: auto;">
                            <tr>
                                <td>
                                    <img src="https://lola-test.fomindustrie.com/Images/email/Logo_email.jpg" height="98" width="525" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="padding-top: 80px; padding-bottom: 80px;">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td class="first-part-text">
                                                    @(new RawString(Model.FirstPart))
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="username-part-text" style="padding-top: 30px;">
                                                    @(new RawString(Model.UsernameLabel)) <span class="user-info-text">@(new RawString(Model.Username))</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="password-part-text">
                                                    @(new RawString(Model.PasswordLabel)) <span class="user-info-text">@(new RawString(Model.Password))</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div style="background-color: #6f1130; height: 4px; margin-bottom: 30px; margin-top: 30px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="last-part-text">
                                                    @(new RawString(Model.LastPart))
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="footer-part-text">
                                    @(new RawString(Model.FooterText))
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    </table>
</div>
</body>
</html>
