@{Layout = null;}
@using FomMonitoringResources
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>Login</title>

    @Styles.Render("~/Content/FomMonitoringStylesLOGIN")
    @Scripts.Render("~/Scripts/FomMonitoringScriptsLOGIN")
    <style>
        .modal-dialog {
            background-color: #eee;
        }

        .modal-content {
            position: relative;
            background-color: #eee;
            box-shadow: none;
            border: none;
        }

        .modal-footer {
            border: none;
            padding: 20px;
            padding-top: 0px;
        }

            .modal-footer button {
                height: 36px;
                /* border: solid 1px #fff; */
                background-color: #ddd;
                border-radius: 5px;
                font-weight: 300;
                font-family: 'Lato';
            }

                .modal-footer button:hover {
                    outline-offset: 15px;
                    border: solid 1px #fff;
                }

            .modal-footer .btn-confirm:focus {
                background-color: #ddd;
                border: solid 1px #fff;
                outline: none;
                border-color: #fff;
            }

            .modal-footer .btn-annulla:focus {
                color: #fff;
                background-color: #ddd;
                border: solid 1px #fff;
                outline: none;
                border-color: #fff;
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-md-12 col-sm-12">
                <div class="row container-login">
                    <div class="header">
                        <div>Welcome</div>
                        <img class="logo" src="~/Images/logo/Lola-lg.png">
                        @*<div class="title-small">Dashboard</div>*@
                        <img class="logo2" src="~/Images/logo/Log_On_Live_Automation-600x100px.png">
                    </div>
                    <div class="content">
                        @using (Html.BeginForm("/Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
                                <input class="form-control username" type="text" placeholder="Username" name="username" />
                            </div>
                            <div class="form-group">
                                <i class="icon-lock fa-lg" aria-hidden="true"></i>
                                <input class="form-control password" type="password" placeholder="Password" name="password" />
                            </div>
                            if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
                            {
                                <div class="alert validation">
                                    @Html.ValidationSummary(true, "", new { @class = "alert-danger ptb-10" })
                                </div>
                            }

                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <img class="logo3" src="~/Images/logo/Powered_by_FOM-350x200px.png">
                                </div>
                                <div class="form-actions col-sm-6">
                                    <button type="submit">LOGIN</button>
                                </div>
                            </div>
                            <div class="col-sm-12">

                                <a class="btn btn-link btn-block text-center" data-toggle="modal" data-target="#disclamer-modal" style="white-space:unset; color: #000000; font-size: 11px;">
                                    @Html.Raw(Resource.DisclaimerLogin)
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("Modals/_Disclaimer")
</body>
</html>
