
@model FomMonitoringBLL.ViewModel.PanelParametersViewModel
@using FomMonitoringCore.Service

<div id="CardRotaryAxes" >
    <div class="portlet">
        <div class="portlet-title">
            <div class="portlet-kpi">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                    <i class="fa icofom-elettromandrino fa-stack-1x fa-inverse" style="font-size:21px"></i>
                </span>
            </div>
            <div class="title-kpi" style="max-width: 510px;">
                <span >@LocalizationService.GetResource("LMX650_RotaryAxes")</span>
                <div class="sub-period">@LocalizationService.GetResource("UntilNow")</div>
            </div>
        </div>
        <div class="portlet-body text-center" style="height:244px">
            <div class="card-portlet">
                <div v-if="values != null" style="height:242px">
                    <hr style="background-color: #0c3817; height: 2px; border: none" />
                    <div style="cursor: auto; height: 50%">
                        <table class="table-spindle">
                            <tr>
                                <td class="portlet-subtitle" style="font-size: 11px">
                                    @Html.Raw(LocalizationService.GetResource("RotaryAxesXMU"))
                                </td>
                            </tr>
                            <tr>
                            <td>
                            <table style="width: 100%; height: 100%">
                                <tr>
                                    <td class="td-other-data">
                                        <label style="vertical-align: top; width: 20px"><i class="fa fa-openid fa-lg" aria-hidden="true"></i></label>
                                        <label v-if="values.NrotazioniAsse3C1 != null" class="label-other-title" v-html="values.NrotazioniAsse3C1.Description"></label>
                                    </td>
                                    <td class="td-other-data  tool-border-left">
                                        <label style="vertical-align: top; width: 20px;"><i class="fa fa-openid fa-lg" aria-hidden="true"></i></label>
                                        <label v-if="values.NrotazioniAsse3C2 != null" class="label-other-title" v-html="values.NrotazioniAsse3C2.Description"></label>
                                    </td>
                                    <td class="td-other-data"></td>
                                </tr>
                                <tr>
                                    <td class="td-other-data ">
                                        <label v-if="values.NrotazioniAsse3C1 != null && values.NrotazioniAsse3C1.ConvertedValue" class="label-other-data-value" v-html="values.NrotazioniAsse3C1.ConvertedValue"></label>
                                    </td>
                                    <td class="td-other-data tool-border-left">
                                        <label v-if="values.NrotazioniAsse3C2 != null && values.NrotazioniAsse3C2.ConvertedValue" class="label-other-data-value" v-html="values.NrotazioniAsse3C2.ConvertedValue"></label>
                                    </td>
                                    <td class="td-other-data"></td>
                                </tr>
                            </table>
                        </table>
                        <table class="table-spindle .table-spindle-tools">
                            <tr>
                                <td class="portlet-subtitle" style="font-size: 11px">
                                    @Html.Raw(LocalizationService.GetResource("ToolsStore"))
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table style="width: 100%; height: 100%">
                                        <tr>
                                            <td class="td-other-data">
                                                <label><i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.NsblocchiForc1 != null" class="label-other-title" v-html="values.NsblocchiForc1.Description"></label>
                                            </td>
                                            <td class="td-other-data tool-border-left">
                                                <label><i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.NsblocchiForc2 != null" class="label-other-title" v-html="values.NsblocchiForc2.Description"></label>
                                            </td>
                                            <td class="td-other-data">
                                                <label style="vertical-align: top;"><i class="fa fa-unlock-alt fa-lg" aria-hidden="true"></i></label>
                                                <label v-if="values.NsblocchiForc3 != null" class="label-other-title" v-html="values.NsblocchiForc3.Description"></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td-other-data">
                                                <label v-if="values.NsblocchiForc1 != null && values.NsblocchiForc1.ConvertedValue" class="label-other-data-value" v-html="values.NsblocchiForc1.ConvertedValue"></label>
                                            </td>
                                            <td class="td-other-data tool-border-left">
                                                <label v-if="values.NsblocchiForc2 != null && values.NsblocchiForc2.ConvertedValue" class="label-other-data-value" v-html="values.NsblocchiForc2.ConvertedValue"></label>
                                            </td>
                                            <td class="td-other-data">
                                                <label v-if="values.NsblocchiForc3 != null && values.NsblocchiForc3.ConvertedValue" class="label-other-data-value" v-html="values.NsblocchiForc3.ConvertedValue"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <no-data v-else></no-data>
            </div>
        </div>


    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        RotaryAxes.init(data);
    });

</script>


