@model FomMonitoringBLL.ViewModel.ProductivityViewModel
@using FomMonitoringCore.Service
@using FomMonitoringResources

<div v-if="material != null">
    <div class="item clearfix">
        <div class="item-title">
            @LocalizationService.GetResource("Material")
        </div>
        <div class="item-label">
            <div class="icon fa fa-eraser"></div>
            <div>
                <span class="value-title">
                    @LocalizationService.GetResource("Used")
                </span>
                <span class="value">
                    {{ material.total }}<em>m</em>
                </span>
            </div>
        </div>
    </div>
    <div class="progress prod">
        <div class="progress-bar bg-line" v-bind:aria-valuenow="material.bar.perc"></div>
        <div class="progress-bar bg-broken-line" v-bind:aria-valuenow="material.cutoff.perc"></div>
    </div>
    <table class="table-legend">
        <tr>
            <td>
                <div class="square bg-line"></div>
                @LocalizationService.GetResource("Bars")
            </td>
            <td>{{ material.bar.perc | round }}<em>%</em></td>
            <td>{{ material.bar.number }}<em>m</em></td>
        </tr>
        <tr>
            <td>
                <div class="square bg-broken-line"></div>
                @LocalizationService.GetResource("Cutoff")
            </td>
            <td>{{ material.cutoff.perc | round }}<em>%</em></td>
            <td>{{ material.cutoff.number }}<em>m</em></td>
        </tr>
        <tr v-if="productionVariables != null && machineModel.toLocaleUpperCase().includes('LMX')">
            <td style="padding:0" class="testo-abbreviato">
                <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                {{productionVariables.Description}}:
            </td>
            <td>
                <span> {{productionVariables.ConvertedMinValue}}m</span>
            </td>
            <td>
                <span> {{productionVariables.ConvertedSecValue}}s</span>
            </td>
        </tr>
    </table>
</div>
<div v-else>
    <div class="item clearfix">
        <div class="item-title">
            @LocalizationService.GetResource("Material")
        </div>
        <div class="item-label">
            <div class="icon fa fa-eraser"></div>
            <div>
                <span class="value-title">
                    @LocalizationService.GetResource("Used")
                </span>
                <span class="value">
                   0<em>m</em>
                </span>
            </div>
        </div>
    </div>
    <div class="progress prod">
        <div class="progress-bar bg-line" v-bind:aria-valuenow="0"></div>
        <div class="progress-bar bg-broken-line" v-bind:aria-valuenow="0"></div>
    </div>
    <table class="table-legend">
        <tr>
            <td>
                <div class="square bg-line"></div>
                @LocalizationService.GetResource("Bars")
            </td>
            <td>0<em>%</em></td>
            <td>0<em>m</em></td>
        </tr>
        <tr>
            <td>
                <div class="square bg-broken-line"></div>
                @LocalizationService.GetResource("Cutoff")
            </td>
            <td>0<em>%</em></td>
            <td>0<em>m</em></td>
        </tr>
        <tr v-if="productionVariables != null && machineModel.toLocaleUpperCase().includes('LMX')">
            <td style="padding:0">
                <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                {{productionVariables.Description}}:
            </td>
            <td>
                <span> {{productionVariables.ConvertedMinValue}}m</span>
            </td>
            <td>
                <span> {{productionVariables.ConvertedSecValue}}s</span>
            </td>
        </tr>
    </table>
</div>
