@model FomMonitoringBLL.ViewModel.ProductivityViewModel
@using FomMonitoringCore.Service
@using FomMonitoringResources

<div v-if="piece != null">
    <div class="item clearfix">
        <div class="item-title">
            @LocalizationService.GetResource("Pieces")
        </div>
        <div class="item-label">
            <div class="icon fa fa-puzzle-piece"></div>
            <div>
                <span class="value-title">
                    @LocalizationService.GetResource("Made")
                </span>
                <span class="value">
                    {{ piece.total }}<em>pz</em>
                </span>
            </div>
        </div>
    </div>
    <div class="progress prod">
        <div class="progress-bar bg-max-piece" v-bind:aria-valuenow="piece.done.perc"></div>
        <div class="progress-bar bg-min-piece" v-bind:aria-valuenow="piece.redone.perc"></div>
    </div>
    <table class="table-legend">
        <tr>
            <td><div class="square bg-max-piece"></div>
                @LocalizationService.GetResource("Done")</td>
            <td>{{ piece.done.perc | round }}<em>%</em></td>
            <td>{{ piece.done.number }}<em>pz</em></td>
        </tr>
        <tr v-if="type != '@enMachineType.Troncatrice.GetDescription()'">
            <td>
                <div class="square bg-min-piece"></div>
                @LocalizationService.GetResource("Redone")
            </td>
            <td>{{ piece.redone.perc | round }}<em>%</em></td>
            <td>{{ piece.redone.number }}<em>pz</em></td>
        </tr>
        <tr v-if="productionVariables != null && machineModel.toLocaleUpperCase().includes('FMC')">
            <td style="padding:0">
                <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
                {{productionVariables.Description}}:
            </td>
            <td>
                <span> {{productionVariables.ConvertedMinValue}}m</span>
            </td>
            <td>
                <span> {{productionVariables.ConvertedSecValue}}s</span>
            </td>
        </tr>
    </table>
</div>
