@using FomMonitoringResources
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewBag.AppTitle</title>

    @Styles.Render("~/Content/FomMonitoringStylesLIB")
    @Scripts.Render("~/Scripts/FomMonitoringScriptsLIB")

    @Styles.Render("~/GlobApp/styles/FomMonitoringStylesAPP")
    @Scripts.Render("~/GlobApp/scripts/FomMonitoringScriptsAPP")

</head>
<body>
    <div id="alert-refresh-page" class="alert alert-primary" role="alert" style="display: none; background-color: #D1839A;border-color: #D1839A;color: white;z-index: 100;position: absolute;top: 0px;position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;max-width: 50%; text-align: center; padding-top: 0.2em; padding-bottom: 0;">
        Per favore ricaricare la pagina
        <button id="button-refresh-page" type="button" class="btn btn-link" style="border: transparent; color: white;">
            <i class="fa fa-refresh fa-2x"></i>
        </button>
    </div>
    <header>
        @Html.Action("_Header", "Shared")
        @Html.Action("_Toolbar", "Shared")
    </header>
    <section class="container-fluid">
        @RenderBody()
    </section>

    <script type="text/x-template" id="no-data">
        <div class="no-data">
            <i class="fa fa-meh-o fa-3x"></i>
            <div>@Resource.NoData</div>
        </div>
    </script>
    <script type="text/x-template" id="offline-machine">
        <div class="offline-machine">
            <i class="fa fa-meh-o fa-3x"></i>
            <div>@Resource.Offline</div>
        </div>
    </script>
    <script type="text/x-template" id="expired-machine">
        <div class="offline-machine">
            <i class="fa fa-meh-o fa-3x"></i>
            <div>Expired</div>
        </div>
    </script>

<script type="text/x-template" id="time-span">
        <span v-if="duration != null">
            <span v-if="duration.days != null">
                {{ duration.days }}<em>d</em>
            </span>
            <span v-if="duration.hours != null">
                {{ duration.hours }}<em>h</em>
            </span>
            <span v-if="duration.minutes != null" v-show="showMinutes">
                {{ duration.minutes }}<em>min</em>
            </span>
            <span v-if="duration.seconds != null" v-show="showSeconds">
                {{ duration.seconds }}<em>s</em>
            </span>
        </span>
        <span v-else>
            0<em>s</em>
        </span>
    </script>

<script type="text/x-template" id="time-span-manu">
    <span v-if="duration != null">
        <span v-if="duration.days != null">
            {{ duration.days }}<em>d</em>
        </span>
        <br />
        <span v-if="duration.hours != null">
            {{ duration.hours }}<em>h</em>
        </span>
        <span v-if="duration.minutes != null" v-show="showMinutes">
            {{ duration.minutes }}<em>min</em>
        </span>
        <span v-if="duration.seconds != null" v-show="showSeconds">
            {{ duration.seconds }}<em>s</em>
        </span>
    </span>
    <span v-else>
        0<em>s</em>
    </span>
</script>

<script type="text/x-template" id="time-span-efficiency">
    <span v-if="duration != null">
        <span v-if="duration.days != null && duration.days < 10">
            0{{ duration.days }}<em>d</em>
        </span>
        <span v-else-if="duration.days != null">
            {{ duration.days }}<em>d</em>
        </span>
        <span v-if="duration.hours != null && duration.hours < 10">
            0{{ duration.hours }}<em>h</em>
        </span>
        <span v-else-if="duration.hours != null">
            {{ duration.hours }}<em>h</em>
        </span>
        <span v-if="duration.minutes != null && duration.minutes < 10">
            0{{ duration.minutes }}<em>m</em>
        </span>
        <span v-else-if="duration.minutes">
            {{ duration.minutes }}<em>m</em>
        </span>
        <span v-if="duration.seconds != null && duration.seconds < 10">
            0{{ duration.seconds }}<em>s</em>
        </span>
        <span v-else-if="duration.seconds != null && duration.seconds >= 10">
            {{ duration.seconds }}<em>s</em>
        </span>
        <span v-else>
            00<em>s</em>
        </span>
    </span>
        <span v-else>
            00<em>s</em>
        </span>
    </script>



@Html.Partial("Modals/_ChangePassword")
    @Html.Partial("Modals/_ChangeTimeZone")
    @Html.Partial("Modals/_Disclaimer", "internal")
    <script type="text/javascript">
        @{
            var c = CultureInfo.CurrentUICulture.Name.Split('-')[0];
        }
        moment.locale("@c");
        VueManager.initTimeSpanComponent();
        VueManager.initTimeSpanEfficiencyComponent();
        VueManager.initTimeSpanManutenzioneComponent();
    </script>
<script type="text/javascript">

    $(function () {
        var $window = $(window);
        var width = $window.width();

        setInterval(function () {
            if (width !== $window.width()) {

                var diffWidth = Math.abs(width - $window.width());

                if (diffWidth > 50) {

                    width = $window.width();

                    $('#alert-refresh-page').show();
                }

            }
        },
            300);

        $("#button-refresh-page, #alert-refresh-page").click(function () {
            location.reload();
        });


    });

</script>

</body>
</html>
