<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="alert-refresh-page" class="alert alert-primary" role="alert" style="display: none; background-color: #D1839A;border-color: #D1839A;color: white;z-index: 100;position: absolute;top: 0px;position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;max-width: 50%; text-align: center; padding-top: 0.2em; padding-bottom: 0;">
    Per favore ricaricare la pagina
    <button id="button-refresh-page" type="button" class="btn btn-link" style="border: transparent; color: white;">
        <i class="fa fa-refresh fa-2x"></i>
    </button>
</div>
<div id="alert-IE" class="alert alert-primary" role="alert" style="display: none; background-color: #D1839A;border-color: #D1839A;color: white;z-index: 100;position: absolute;top: 0px;position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;width: 60%; text-align: center; padding-top: 0.2em; padding-bottom: 0;">
    Si sta utilizzando un browser non supportato, per favore ricaricare la pagina con Chrome o Safari.
</div>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<script type="text/javascript">

    $(function () {
        var $window = $(window);
        var width = $window.width();

        setInterval(function () {
            if (width !== $window.width()) {

                var diffWidth = Math.abs(width - $window.width());

                if (diffWidth > 50) {

                    width = $window.width();

                    $('#alert-refresh-page').show();
                }

            }
        },
            300);

        $("#button-refresh-page, #alert-refresh-page").click(function () {
            location.reload();
        });

        var ua = window.navigator.userAgent;
        var isIE = /MSIE|Trident/.test(ua);

        if (isIE) {
            $('#alert-IE').show();
        }

    });

</script>
</body>
</html>