@using FomMonitoringResources
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewBag.AppTitle</title>

    @Styles.Render("~/Content/FomMonitoringStylesLIB")
    @Scripts.Render("~/Scripts/FomMonitoringScriptsLIB")

    @Styles.Render("~/GlobApp/styles/FomMonitoringStylesAPP")
    @Scripts.Render("~/GlobApp/scripts/FomMonitoringScriptsAPP")

</head>
<body>

    <header>
        @Html.Action("_Header", "Shared")
        @Html.Action("_Toolbar", "Shared")

    </header>
    <section class="container-fluid">
        @RenderBody()
    </section>

    <script type="text/x-template" id="no-data">
        <div class="no-data">
            <i class="fa fa-meh-o fa-3x"></i>
            <div>@Resource.NoData</div>
        </div>
    </script>
    <script type="text/x-template" id="offline-machine">
        <div class="offline-machine">
            <i class="fa fa-meh-o fa-3x"></i>
            <div>@Resource.Offline</div>
        </div>
    </script>
    <script type="text/x-template" id="expired-machine">
        <div class="offline-machine">
            <i class="fa fa-meh-o fa-3x"></i>
            <div>Expired</div>
        </div>
    </script>

    <script type="text/x-template" id="time-span">
        <span v-if="duration != null">
            <span v-if="duration.days != null">
                {{ duration.days }}<em>d</em>
            </span>
            <span v-if="duration.hours != null">
                {{ duration.hours }}<em>h</em>
            </span>
            <span v-if="duration.minutes != null" v-show="showMinutes">
                {{ duration.minutes }}<em>min</em>
            </span>
            <span v-if="duration.seconds != null" v-show="showSeconds">
                {{ duration.seconds }}<em>s</em>
            </span>
        </span>
        <span v-else>
            0<em>s</em>
        </span>
    </script>

    @Html.Partial("Modals/_ChangePassword")
    @Html.Partial("Modals/_Disclaimer")
    <script type="text/javascript">
        @{
            var c = CultureInfo.CurrentUICulture.Name.Split('-')[0];
        }
        moment.locale("@c");
        VueManager.initTimeSpanComponent();
    </script>
    <script type="text/javascript">
        VueManager.initTimeSpanComponent();
    </script>

</body>
</html>
