@model FomMonitoringBLL.ViewModel.ToolbarViewModel
@using FomMonitoringResources

<div class="toolbar">
    <div class="row-toolbar">
        @if (Model.page == enPage.Machine)
        {

            <div class="col-md-8 col-sm-7 col-lg-8 col-xl-8 col-padding">
                <div id="machines-filter" v-cloak>
                    @if (Model.role != enRole.Operator)
                    {
                        <a class="btn btn-toolbar" id="button-back-machine" href="@Url.Action("Index", "Mes")">
                            <i class="fa fa-arrow-circle-left color-corporate fa-lg"></i>
                        </a>
                    }
                    <!-- #region filter machine -->
                    <div class="toolbar-filter">
                        <span class="title-small">@Resource.Machine</span>
                        <select  id="machine_select" class="bs-select show-menu-arrow show-tick display-none machine-select">
                            <option v-cloak v-for="m in machines"
                                    v-bind:value="m.id"
                                    v-bind:selected="m.serial == selected.machine.serial"
                                    v-bind:data-icon="'icofom-' + m.icon">
                                {{ m.machineName || m.description || m.model}}
                            </option>
                        </select>
                    </div>
                    <!-- #endregion -->
                    <!-- #region info machine -->
                    <div v-cloak class="dropdown dropdown-toolbar" onclick="SharedManager.handlerDropdown($(this))">
                        <div  class="btn btn-toolbar only-icon">
                            <div class="icon-btn visible-sm visible-xs d-block d-md-none">
                                <i class="icon-info color-corporate"></i>
                            </div>
                            <div class="info-macchina d-none d-md-block">
                                <div>
                                    <span class="title-small">@Resource.Type</span>
                                    <span v-cloak>{{selected.machine.mtype}}</span>
                                </div>
                                <div>
                                    <span class="title-small">@Resource.Model</span>
                                    <span v-cloak>{{selected.machine.machineName || selected.machine.model}}</span>
                                </div>
                            </div>
                            <div>
                                <span class="icon-arrow-down d-none d-md-block"></span>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <table class="table table-info">
                                <tr>
                                    <td>
                                        <div>{{selected.machine.serial || empty}}</div>
                                        <small class="title-small">@Resource.Serial</small>
                                    </td>
                                    <td>
                                        <div>{{selected.machine.installation || empty}}</div>
                                        <small class="title-small">@Resource.Install</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div>{{selected.machine.mtype || empty}}</div>
                                        <small class="title-small">@Resource.Type</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div>{{selected.machine.machineName || selected.machine.model || empty}}</div>
                                        <small class="title-small">@Resource.Model</small>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>{{selected.machine.product_type || empty}}</div>
                                        <small class="title-small">@Resource.ProductType</small>
                                    </td>
                                    <td>
                                        <div>{{selected.machine.product_version || empty}}</div>
                                        <small class="title-small">@Resource.ProductVersion</small>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- #endregion -->
                </div>
            </div>            

        }
        else if (Model.page == enPage.Mes)
        {
            <div class="col-12 col-xl-12" style="display:flex">
                <div id="plants-filter" class="toolbar-filter" v-cloak>
                    <i class="icofom-productivity" v-cloak></i>
                    <span class="title-small">@Resource.Plant</span>
                    <select id="plant_select" class="bs-select show-menu-arrow show-tick display-none plant-select">
                        <option v-cloak v-for="plant in plants"
                                v-bind:value="plant.id"
                                v-bind:selected="plant.id == selected.plant.id">
                            {{ plant.name }}
                        </option>
                    </select>
                </div>
                
                    @if (Model.role != enRole.Operator)
                    {
                <div id="plantIcon" class="btn btn-toolbar" style="display:none" onclick="SharedManager.viewPlantMessagesBtn()">
                    <i class="icofom-productivity color-corporate fa-lg"></i>
                </div>
                <div>
                    <div class="btn btn-toolbar">
                        <i class="fa fa-server color-corporate fa-lg" style="position: inherit; margin: 2px 5px 0 0;" onclick="SharedManager.viewPlantMessagesBtn()"></i>
                        <a href="@Url.Action("PlantMessages", "Mes")">
                            <span id="plantMessagesLabel">@Resource.PlantMessages</span>
                        </a>
                    </div>
                </div>
                    }

                </div>
                }
                else if (Model.page == enPage.PlantMessages)
                {
                if (Model.role != enRole.Operator)
                {
                <div class="col-7 col-md-8 col-sm-7 col-lg-8 col-xl-8">
                    <div id="plants-filter" class="toolbar-filter" v-cloak>
                        <div style="display: inline-flex">
                            <a class="btn btn-toolbar" href="@Url.Action("Index", "Mes")" style="padding: 2px 10px 10px 10px;">
                                <i class="fa icofom-productivity fa-stack-1x fa-inverse" style="position:inherit"></i>
                            </a>
                            <span class="title" v-cloak>
                                @Resource.Plant {{selected.plant.name}}
                            </span>
                        </div>
                    </div>
                </div>
                }
                }
                else if (Model.page == enPage.UserManager)
                {
                <a class="btn btn-toolbar" href="@Url.Action("Index", "Mes")">
                    <i class="fa fa-arrow-circle-left color-corporate fa-lg"></i>
                </a>
                }
                @if (Model.page == enPage.Machine || Model.page == enPage.PlantMessages)
                {
                    <div class="col-3 col-md-4 col-sm-4 col-lg-4 col-xl-4 col-padding">
                        <div id="calendar" class="btn-toolbar pull-right">
                            <div class="icon-btn">
                                <i class="icon-calendar color-corporate"></i>
                            </div>
                            <div class="title-btn d-none d-sm-block">
                                <div class="text-period"></div>
                                <small class="title-small">
                                    @Resource.Period
                                </small>
                            </div>
                            <div class=" d-none d-sm-block">
                                <i class="icon-arrow-down"></i>
                            </div>

                        </div>
                    </div>
                }
            </div>
</div>
    <script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        SharedManager.initToolbar(data);

        @if (Model.role != enRole.Administrator) {
            <text>
                var urlNotification = '@Url.HttpRouteUrl("DefaultApi", new {controller = "AppApi", action = "GetNotificationsViewModel" })';
                var urlSetNotification = '@Url.HttpRouteUrl("DefaultApi", new {controller = "AppApi", action = "SetNotificationRead" })';
                NotificationManager.init(urlNotification, urlSetNotification);
            </text>
        }
    });

    </script>
