
@model FomMonitoringBLL.ViewModel.PanelParametersViewModel
@using FomMonitoringCore.Service

<div id="CardSensorSpindles"  class="@ViewData["Classes"]" style="height: 581px;" v-show="showed">
    <div class="portlet">
        <div class="portlet-title">
            <div class="portlet-kpi">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorKPI"></i>
                    <i class="fa icofom-sensoristica fa-stack-1x fa-inverse" style="font-size:21px"></i>
                </span>
            </div>
            <div class="title-kpi testo-abbreviato" style="max-width: 89%;" >
                <span>@LocalizationService.GetResource("LMX650_XMUSp_Sensors")</span>
                <div class="sub-period">@LocalizationService.GetResource("UntilNow")</div>
            </div>
        </div>
        <div class="portlet-body text-center" >
            <div class="card-portlet" style="height:540px">
                <div id="sensorSlimscroll" v-if="noData() == false" style="height:100%" class="slimscroll">
                    <hr style="background-color:#0c3817;height:2px;border:none" />
                    <div style="cursor: auto;">
                        <table style="height:auto">
                            <tr>
                                <td style="padding:0">
                                    <table class="table-xmu-electrospindle">
                                        <tr>
                                            <td class="portlet-subtitle" style="font-size: 11px">
                                                @Html.Raw(LocalizationService.GetResource("Assorbimento"))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width: 100%; height: 100%">
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label style="vertical-align: top; width: 20px"><i class="fa fa-clock-o  fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.SoglieAmpereMandrini != null" class="label-other-title" v-html="values.SoglieAmpereMandrini.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle  tool-border-left">
                                                            <label style="vertical-align: top; width: 20px;"><i class="fa fa-sort-amount-asc fa-lg fa-rotate-180" aria-hidden="true"></i></label>
                                                            <label v-if="values.SoglieAmpereContatore != null" class="label-other-title" v-html="values.SoglieAmpereContatore.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-xmu-electrospindle ">
                                                            <label v-if="values.SoglieAmpereMandrini != null && values.SoglieAmpereMandrini.ConvertedValue" class="label-other-data-value" v-html="values.SoglieAmpereMandrini.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label v-if="values.SoglieAmpereContatore != null && values.SoglieAmpereContatore.ConvertedValue" class="label-other-data-value" v-html="values.SoglieAmpereContatore.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                </table>
                                    </table>
                                    <table class="table-xmu-electrospindle">
                                        <tr>
                                            <td class="portlet-subtitle" style="font-size: 11px">
                                                @Html.Raw(LocalizationService.GetResource("Vibrazioni"))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width: 100%; height: 100%">
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.AccelerometroINT_1 != null" class="label-other-title" v-html="values.AccelerometroINT_1.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.AccelerometroINT_2 != null" class="label-other-title" v-html="values.AccelerometroINT_2.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle">
                                                            <label style="vertical-align: top;"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.AccelerometroINT_3 != null" class="label-other-title" v-html="values.AccelerometroINT_3.Description"></label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label v-if="values.AccelerometroINT_1 != null && values.AccelerometroINT_1.ConvertedValue" class="label-other-data-value" v-html="values.AccelerometroINT_1.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label v-if="values.AccelerometroINT_2 != null && values.AccelerometroINT_2.ConvertedValue" class="label-other-data-value" v-html="values.AccelerometroINT_2.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle">
                                                            <label v-if="values.AccelerometroINT_3 != null && values.AccelerometroINT_3.ConvertedValue" class="label-other-data-value" v-html="values.AccelerometroINT_3.ConvertedValue"></label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" style="background-color: #bebebe; padding: 0">
                                                            <hr class="tools" align="center" style="background-color: #d2d2d2; width: 88%" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label class="label-second-row"><i class="fa fa-exclamation-triangle color-red fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.HSD_NumCollRilevate != null" class="label-sensors-title" v-html="values.HSD_NumCollRilevate.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label class="label-second-row"><i class="fa fa-sort-amount-asc fa-lg fa-rotate-180" aria-hidden="true"></i></label>
                                                            <label v-if="values.AccelContatoreINT_2 != null" class="label-sensors-title" v-html="values.AccelContatoreINT_2.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle">
                                                            <label class="label-second-row"><i class="fa fa-sort-amount-asc fa-lg fa-rotate-180" aria-hidden="true"></i></label>
                                                            <label v-if="values.AccelContatoreINT_3 != null" class="label-sensors-title" v-html="values.AccelContatoreINT_3.Description"></label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label v-if="values.HSD_NumCollRilevate != null && values.HSD_NumCollRilevate.ConvertedValue" class="label-other-data-value" v-html="values.HSD_NumCollRilevate.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label v-if="values.AccelContatoreINT_2 != null && values.AccelContatoreINT_2.ConvertedValue" class="label-other-data-value" v-html="values.AccelContatoreINT_2.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle">
                                                            <label v-if="values.AccelContatoreINT_3 != null && values.AccelContatoreINT_3.ConvertedValue" class="label-other-data-value" v-html="values.AccelContatoreINT_3.ConvertedValue"></label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="table-xmu-electrospindle">
                                        <tr>
                                            <td class="portlet-subtitle" style="font-size: 11px">
                                                @Html.Raw(LocalizationService.GetResource("TemperaturaSchedaEl"))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width: 100%; height: 100%">
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label style="vertical-align: top; width: 20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.TemperSchedaMinutiINT != null" class="label-other-title" v-html="values.TemperSchedaMinutiINT.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle  tool-border-left">
                                                            <label style="vertical-align: top; width: 20px;"><i class="fa fa-sort-amount-asc fa-lg fa-rotate-180" aria-hidden="true"></i></label>
                                                            <label v-if="values.TemperSchedaContatoreINT != null" class="label-other-title" v-html="values.TemperSchedaContatoreINT.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-xmu-electrospindle ">
                                                            <label v-if="values.TemperSchedaMinutiINT != null && values.TemperSchedaMinutiINT.ConvertedValue" class="label-other-data-value" v-html="values.TemperSchedaMinutiINT.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label v-if="values.TemperSchedaContatoreINT != null && values.TemperSchedaContatoreINT.ConvertedValue" class="label-other-data-value" v-html="values.TemperSchedaContatoreINT.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                </table>
                                    </table>
                                    <table class="table-xmu-electrospindle">
                                        <tr>
                                            <td class="portlet-subtitle" style="font-size: 11px">
                                                @Html.Raw(LocalizationService.GetResource("TemperaturaStatore"))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width: 100%; height: 100%">
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label style="vertical-align: top; width: 20px"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.TemperStatoreMinutiINT != null" class="label-other-title" v-html="values.TemperStatoreMinutiINT.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle  tool-border-left">
                                                            <label style="vertical-align: top; width: 20px;"><i class="fa fa-sort-amount-asc fa-lg fa-rotate-180" aria-hidden="true"></i></label>
                                                            <label v-if="values.TemperStatoreContatoreINT != null" class="label-other-title" v-html="values.TemperStatoreContatoreINT.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-xmu-electrospindle ">
                                                            <label v-if="values.TemperStatoreMinutiINT != null && values.TemperStatoreMinutiINT.ConvertedValue" class="label-other-data-value" v-html="values.TemperStatoreMinutiINT.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label v-if="values.TemperStatoreContatoreINT != null && values.TemperStatoreContatoreINT.ConvertedValue" class="label-other-data-value" v-html="values.TemperStatoreContatoreINT.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                </table>
                                    </table>
                                    <table class="table-xmu-electrospindle" style="height: 95px;">
                                        <tr>
                                            <td class="portlet-subtitle" style="font-size: 11px">
                                                @Html.Raw(LocalizationService.GetResource("TemperaturaCuscinetti"))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width: 100%; height: 100%">
                                                    <tr>
                                                        <td class="td-xmu-electrospindle">
                                                            <label style="vertical-align: top; width: 20px"><i class="fa fa-clock-o  fa-lg" aria-hidden="true"></i></label>
                                                            <label v-if="values.TemperCuscinettiMinutiINT != null" class="label-other-title" v-html="values.TemperCuscinettiMinutiINT.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle  tool-border-left">
                                                            <label style="vertical-align: top; width: 20px;"><i class="fa fa-sort-amount-asc fa-lg fa-rotate-180" aria-hidden="true"></i></label>
                                                            <label v-if="values.TemperCuscinettiContatoreINT != null" class="label-other-title" v-html="values.TemperCuscinettiContatoreINT.Description"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-xmu-electrospindle ">
                                                            <label v-if="values.TemperCuscinettiMinutiINT != null && values.TemperCuscinettiMinutiINT.ConvertedValue" class="label-other-data-value" v-html="values.TemperCuscinettiMinutiINT.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle tool-border-left">
                                                            <label v-if="values.TemperCuscinettiContatoreINT != null && values.TemperCuscinettiContatoreINT.ConvertedValue" class="label-other-data-value" v-html="values.TemperCuscinettiContatoreINT.ConvertedValue"></label>
                                                        </td>
                                                        <td class="td-xmu-electrospindle"></td>
                                                    </tr>
                                                </table>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <no-data v-else></no-data>
            </div>
        </div>


    </div>
</div>


<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        SensorSpindles.init(data);
    });

</script>


