@model FomMonitoringBLL.ViewModel.MaintenanceViewModel
@using FomMonitoringCore.Service

<div id="CardMaintenance" class="@ViewData["Classes"]" style="height:581px" v-show="showed">
<div class="portlet">
    <div class="portlet-title" style="font-size: 16px;">
        <div class="portlet-kpi" v-cloak>

            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" style="color:cornflowerblue"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="title-kpi">
            <span class="testo-abbreviato">
                @LocalizationService.GetResource("PeriodicMaintenance")
            </span>
            <div class="sub-period">
                @LocalizationService.GetResource("UntilNow")</div>
        </div>
        <div class="portlet-details" v-show="show.historical">
            <div class="dropdown" onclick="SharedManager.handlerDropdown($(this))">
                <div class="button drop-btn">
                    <i class="icon-options-vertical"></i>
                </div>
                <div class="dropdown-content right">
                    <div class="dd-item active slide-dashboard" data-group="maintenance">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </div>
                    <div class="dd-item slide-history" data-group="maintenance" v-show="show.historical">
                        <i class="fa fa-history"></i>
                        <span>@LocalizationService.GetResource("MaintenanceRegister")</span>
                    </div>
                    <div class="dd-item slide-kpi" data-group="maintenance" v-show="show.kpi">
                        <i class="fa fa-wrench"></i>
                        <span>KPI</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body border-panel" style="border-top-color:cornflowerblue">
        <div class="card-portlet card-maintenance" style="height:100%" v-cloak>
            <div class="swiper-container maintenance">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div v-if="messages != null" class="table-container" style="height:100%">
                            <table class="table table-alerts table-header">
                                <thead>
                                    <tr>
                                        <th style="width: 8%;padding-left: 10px;"><i class="fa fa-check"></i></th>
                                        <th style="width: 10%;" class="value-title testo-abbreviato">@LocalizationService.GetResource("Type")</th>
                                        <th style="width: 45%;">
                                            <i class="fa fa-list"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("Tasks")
                                            </span>
                                        </th>
                                        <th style="width:22%" class="th-duration sorting" v-bind:class="sorting != null ? sorting.timestamp : ''" v-on:click="sortTimestamp()">
                                            <i class="fa fa-clock-o color-aaa"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("Timestamp")
                                            </span>
                                        </th>
                                        <th style="width:15%">
                                            <i class="fa fa-clock-o color-aaa"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("MsgExpiredTime")
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div style="height: 508px;" class="slimscroll" id="maintenanceSlimscroll">
                                <table class="table table-alerts">
                                    <tbody>
                                        <tr v-for="message in messages">
                                            <td style="width: 8%;vertical-align: middle">
                                                <span class="fa-stack fa btn" style="border:none" v-on:click="ignoreMessage(message.id, $event)"
                                                      v-on:mouseover="changeIconColor('red-square-icon', $event)" v-on:mouseleave="changeIconColor('green-square-icon', $event)">
                                                    <i class="fa fa-square fa-stack-2x red-square-icon" style="top: 0;"></i>
                                                    <i class="fa fa-check fa-stack-1x fa-inverse" style="top: 0;"></i>
                                                </span>
                                            </td>
                                            <td style="width: 10%; vertical-align: middle">
                                                <span class="fa-stack fa" style="border:none" >
                                                    <i v-bind:title="iconTitle(message.icon)" v-bind:class="iconClass(message.icon)" style="top: 0;"></i>
                                                </span>
                                           
                                            </td>
                                            <td style="width:45%">{{ message.description }}</td>
                                            <td style="width:22%"><div>{{ convert_date(message.timestamp, message.utc) }}</div><div>{{ convert_time(message.timestamp, message.utc) }}</div></td>
                                            <td style="width:15%">
                                                <time-span-manu v-bind:duration="message.expiredSpan"></time-span-manu>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <no-data v-else></no-data>
                    </div>
                    <div class="swiper-slide">
                        <div v-if="ignoredMessages != null" class="table-container" style="height: 100%">
                            <table class="table table-alerts table-header">
                                <thead>
                                    <tr>
                                        <th style="width:30%" class="th-duration sorting" v-bind:class="sorting != null ? sorting.timestamp : ''" v-on:click="sortIgnoredMessagesTimestamp()">
                                            <i class="fa fa-clock-o color-aaa"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("Timestamp")
                                            </span>
                                        </th>
                                        <th style="width:30%" class="th-duration sorting" v-bind:class="sorting != null ? sorting.user : ''" v-on:click="sortIgnoredMessagesUser()">
                                            <i class="fa fa-user"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("User")
                                            </span>
                                        </th>
                                        <th style="width: 40%;">
                                            <i class="fa fa-list"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("Tasks")
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="slimscroll" id="maintenanceSlimscroll2">
                                <table class="table table-alerts">
                                    <tbody>
                                        <tr v-for="message in ignoredMessages">
                                            <td style="width:30%">{{ convert_timestamp(message.timestamp, message.utc) }}</td>
                                            <td style="width: 30%"><span v-if="message.user != null && message.user.user != null">{{ message.user.user.Username }} ({{message.user.user.RoleName}})</span></td>
                                            <td style="width: 40%">{{ message.description }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <no-data v-else></no-data>
                    </div>
                    <div class="swiper-slide">
                        <div v-if="kpiMessages != null" class="table-container" style="height: 100%">
                            <table class="table table-alerts table-header">
                                <thead>
                                    <tr>
                                        <th class="thMinW">
                                            <i class="fa icofom-calendar-day color-aaa" style="margin-left: 5px;"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("Notice")
                                            </span>
                                        </th>
                                        <th class="thMinW">
                                            <i class="fa icofom-calendar-check color-aaa"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("Execution")
                                            </span>
                                        </th>
                                        <th style="width:7%" class="th-duration sorting" v-bind:class="sorting != null ? sorting.dateDiff : ''" v-on:click="sortDateDiff()">
                                            <i class="fa fa-wrench color-aaa"></i>
                                        </th>
                                        <th class="th-duration sorting thMinW" v-bind:class="sorting != null ? sorting.user : ''" v-on:click="sortKpiMessagesUser()">
                                            <i class="fa fa-user"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("User")
                                            </span>
                                        </th>
                                        <th style="width: 40%;">
                                            <i class="fa fa-list"></i>
                                            <span class="value-title testo-abbreviato">
                                                @LocalizationService.GetResource("Tasks")
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="slimscroll" id="maintenanceSlimscroll3">
                                <table class="table table-alerts">
                                    <tbody>
                                        <tr v-for="message in kpiMessages">
                                            <td style="width:17%">{{ convert_date(message.day, message.utc) }}</td>
                                            <td style="width: 17%">{{ convert_date(message.ignoreDate, message.utc) }}</td>
                                            <td style="width: 7%">{{ message.dateDiff }}d</td>
                                            <td style="width: 17%"><span v-if="message.user != null && message.user.user != null">{{ message.user.user.Username }}</span></td>
                                            <td style="width: 40%">{{ message.description }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <no-data v-else></no-data>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    <script type="text/javascript">

    $(document).ready(function ()
    {
        var resource = {
            ManutenzioneOrdinaria: '@LocalizationService.GetResourceForJs("ManOrdinaria")',
            ManutenzionePeriodica: '@LocalizationService.GetResourceForJs("ManPeriodica")',
            ManutenzionePredittiva: '@LocalizationService.GetResourceForJs("ManPredittiva")'
        };

        var data = @Html.Raw(Json.Encode(Model));
        var urlIgnoreMessageAPI =
            '@Url.HttpRouteUrl("DefaultApi", new { controller = "AppApi", action = "IgnoreMessage" })';
        Maintenance.init(data, urlIgnoreMessageAPI, resource);        

    });

    </script>