@model FomMonitoringBLL.ViewModel.MaintenanceViewModel
@using FomMonitoringResources

<div id="CardMaintenance" class="@ViewData["Classes"]" style="height:581px" v-show="showed">
    <div class="portlet">
        <div class="portlet-title" style="font-size: 16px;">
            <div class="portlet-kpi" v-cloak>

                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" style="color:cornflowerblue"></i>
                    <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="title-kpi">
                <span>@Resource.PeriodicMaintenance</span>
                <div class="sub-period">@Resource.UntilNow</div>
            </div>
            <div class="portlet-details" v-show="show.historical">
                <div class="dropdown" onclick="SharedManager.handlerDropdown($(this))">
                    <div class="button drop-btn">
                        <i class="icon-options-vertical"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body border-panel" style="border-top-color:cornflowerblue">
            <div class="card-portlet card-maintenance" style="height:100%" v-cloak>
                <div class="front" style="padding: 0px;">
                    <div v-if="messages != null" class="table-container" style="height:100%">
                        <table class="table table-alerts table-header">
                            <thead>
                                <tr>
                                    <th style="width:5%"></th>
                                    <th style="width:55%">
                                    </th>
                                    <th style="width:22%" class="th-duration sorting" v-bind:class="sorting.timestamp" v-on:click="sortTimestamp()">
                                        <i class="fa fa-clock-o color-aaa"></i>
                                        <span class="value-title">
                                            @Resource.Timestamp
                                        </span>
                                    </th>
                                    <th style="width:18%">
                                        <i class="fa fa-clock-o color-aaa"></i>
                                        <span class="value-title">
                                            @Resource.MsgExpiredTime
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div class="slimscroll" id="maintenanceSlimscroll" >
                            <table class="table table-alerts">
                                <tbody>
                                    <tr v-for="message in messages">
                                        <td style="width:5%">
                                            <span class="fa-stack fa">
                                                <i class="fa fa-circle fa-stack-2x" style="color:cornflowerblue"></i>
                                                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <span class="fa-stack fa btn" style="border:none" v-on:click="ignoreMessage(message.id, $event)">
                                                <i class="fa fa-square fa-stack-2x" style="color:limegreen;top: 0;"></i>
                                                <i class="fa fa-check fa-stack-1x fa-inverse" style="top: 0;"></i>
                                            </span>
                                        </td>
                                        <td style="width:55%">{{ message.description }}</td>
                                        <td style="width:20%">{{ convert_timestamp(message.timestamp, message.utc) }}</td>
                                        <td style="min-width:80px;width:20%">
                                            <time-span v-bind:duration="message.expiredSpan"></time-span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <no-data v-else></no-data>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        var urlIgnoreMessageAPI = '/Machine/IgnoreMessage';       
        Maintenance.init(data, urlIgnoreMessageAPI);        

    });

    </script>