@model FomMonitoringBLL.ViewModel.PlantMessagesViewModel
@using FomMonitoringResources

<div id="CardPlantMessages" class="portlet">
    <div class="portlet-title">
        <div class="portlet-kpi" v-cloak>
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x" v-bind:class="colorAlarms"></i>
                <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="title-kpi">
            <span>@Resource.PlantMessages</span>
            <div class="sub-period js-period"></div>
        </div>        
    </div>
    <div class="portlet-body">
        <div class="card-portlet card-messages" style="height: 100%" v-cloak>
            <div class="front" style="padding: 0px; overflow-x:auto">
                <div v-if="messages != null">
                    <div id="slimscroll-plant-msg-wrapper" class="table-container">
                        <table class="table data-table table-alerts table-header">
                            <thead>
                                <tr>
                                    <th style="width:15%;" class="th-duration sorting" v-bind:class="sorting.serial" v-on:click="sortSerialMachine()">
                                        <span class="value-title" style="margin-left:5px">
                                            @Resource.Name @Resource.Machine
                                        </span>
                                    </th>
                                    <th style="width:15%" class="th-duration sorting" v-bind:class="sorting.model" v-on:click="sortModelMachine()">
                                        <span class="value-title">
                                            @Resource.Serial
                                        </span>
                                    </th>
                                    <th style="width:17%" class="th-duration sorting" v-bind:class="sorting.timestamp" v-on:click="sortTimestamp()">
                                        <i class="fa fa-clock-o color-aaa"></i>
                                        <span class="value-title">
                                            @Resource.Timestamp
                                        </span>
                                    </th>
                                    <th style="width:8%">
                                        <span class="value-title" style="padding-left:10px">
                                            @Resource.Code
                                        </span>
                                    </th>
                                    <th style="width:35%">
                                        <span class="value-title" style="padding-left:5px">
                                            @Resource.Description
                                        </span>
                                    </th>
                                    <th style="width:12%" class="th-duration sorting" v-bind:class="sorting.group" v-on:click="sortGroup()">
                                        <span class="value-title" style="padding-left:0">
                                            @Resource.Group
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div class="slimscroll">
                            <table class="table data-table table-alerts" >
                                <tbody v-for="message in messages">
                                    <tr>
                                        <td class="testo-a-capo" style="width:15%">{{ message.machine.machineName || message.machine.model }}</td>
                                        <td class="testo-a-capo" style="width:14%">{{ message.machine.serial }}</td>
                                        <td class="testo-a-capo" style="width:17%">{{ convert_timestamp(message.message.timestamp, message.message.utc) }}</td>
                                        <td style="width:8%">
                                            <div class="item-icon fa fa-2x" v-bind:class="iconClass(message.message.type)"></div>
                                            <div class="item-alert">
                                                <div class="code-alert">{{ message.message.code }}</div>
                                                <div class="subtitle-alert" v-bind:class="colorClass(message.message.type)">{{ message.message.type }}</div>
                                            </div>
                                        </td>
                                        <td class="testo-a-capo" style="width:35%">{{ message.message.description }}</td>
                                        <td class="testo-a-capo" style="width:13%;">{{ message.message.group }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <no-data v-else></no-data>
            </div>
           
    </div>
</div>
</div>
<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        PlantMessages.init(data);
    });

</script>