@model FomMonitoringBLL.ViewModel.HeaderViewModel
@using FomMonitoringResources

@{
    Layout = "~/Views/Shared/_LayoutApp.cshtml";
    var baseUrl = $"{Request.Url?.Scheme}://{Request.Url?.Authority}{Url.Content("~")}";
    
}

<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="button-adduser testo-abbreviato" onclick="UserManager.addClickEvent()">
            <i class="icon-plus"></i>@Resource.AddUser
        </div>
    </div>
</div>

<div class="col-12 container-user-manager">
    <div class="table">
        <table class="table data-table users-table" id="users-table"></table>
    </div>
</div>

<div class="modal fade user-modal" id="user-modal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left margin-top-5"></h4>
                <button type="button" class="close" onClick="UserManager.clearActualUser()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="user-modal-form">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-4 control-label" for="username-input">@Resource.Username:</label>
                            <div class="col-7">
                                <input v-model="actual.Username" name="username-input" class="form-control input-md modal-input" id="username-input" type="text" placeholder="@Resource.Username" maxlength="50" required>
                                <div v-show="missing.Username" class="validation">@Resource.FieldRequired.</div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-4 control-label" for="name-input">@Resource.FirstName:</label>
                            <div class="col-7">
                                <input v-model="actual.FirstName" name="name-input" class="form-control input-md modal-input" id="name-input" type="text" placeholder="@Resource.FirstName" maxlength="50" required>
                                <div v-show="missing.FirstName" class="validation">@Resource.FieldRequired.</div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-4 control-label" for="lastname-input">@Resource.LastName:</label>
                            <div class="col-7">
                                <input v-model="actual.LastName" name="lastname-input" class="form-control input-md modal-input" id="lastname-input" type="text" placeholder="@Resource.LastName" maxlength="50" required>
                                <div v-show="missing.LastName" class="validation">@Resource.FieldRequired.</div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row">
                            <label class="col-4 control-label" for="email-input">Email:</label>
                            <div class="col-7">
                                <input v-model="actual.Email" name="email-input" class="form-control input-md modal-input" id="email-input" type="text" placeholder="Email" maxlength="50">
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group row" id="form-role-input">
                            <label class="col-4 control-label" for="role-input">@Resource.Role:</label>
                            <div class="col-7">
                                <select v-model="roles.active" class="form-control input-md modal-input" id="role-input" type="text" title="@Resource.NothingSelected" required>
                                    <option v-for="role in roles.all" v-if="role.Code == enRoles.Operator || role.Code == enRoles.HeadWorkshop" v-bind:value="role.Code" v-bind:disabled="selectOptionClass(role)">{{role.Name}}</option>
                                </select>
                                <div v-show="missing.Role" class="validation">@Resource.FieldRequired.</div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group row" id="form-role-input-disabled">
                            <label class="col-4 control-label" for="email-input">@Resource.Role:</label>
                            <div class="col-7">
                                <input v-model="roles.activeName" name="role-input" class="form-control input-md modal-input input-read-only" id="role-input-disabled" type="text" disabled>
                            </div>
                        </div>

                        @if (Model.User.Role == enRole.Administrator)
                        {
                            <!-- Select Basic -->
                            <div class="form-group row" id="form-customer-input">
                                <label class="col-4 control-label" for="role-input">@Resource.Customer:</label>
                                <div class="col-7">
                                    <select v-model="customers.active" class="form-control input-md modal-input" id="customer-input" title="@Resource.NothingSelected" type="text">
                                        <option v-for="customer in customers.all" v-bind:value="customer">{{customer}}</option>
                                    </select>
                                    <div v-show="missing.Customer" class="validation">@Resource.FieldRequired.</div>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group row" id="form-customer-input-disabled">
                                <label class="col-4 control-label" for="email-input">@Resource.Customer:</label>
                                <div class="col-7">
                                    <input v-model="customers.active" name="customer-input" class="form-control input-md modal-input input-read-only" id="customer-input-disabled" type="text" disabled>
                                </div>
                            </div>

                        }

                        <!-- Select Basic -->
                        <div class="form-group row">
                            <label class="col-4 control-label" for="role-input">@Resource.Machines:</label>
                            <div class="col-7">
                                <select v-model="machines.active" class="form-control input-md modal-input" id="machines-input" title="@Resource.NothingSelected" type="text" multiple required>
                                    <option v-for="machine in machines.all" v-bind:value="machine.Id">({{machine.Serial}}) - {{machine.MachineName}}</option>
                                </select>
                                <div v-show="missing.Machines" class="validation">@Resource.FieldRequired.</div>
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group row">
                            <label class="col-4 control-label" for="role-input">@Resource.Language:</label>
                            <div class="col-7">
                                <select v-model="languages.active" class="form-control input-md modal-input" id="languages-input" title="@Resource.NothingSelected" type="text" required>
                                    <option v-for="language in languages.all" v-bind:value="language.Id">{{language.Name}}</option>
                                </select>
                                <div v-show="missing.Languages" class="validation">@Resource.FieldRequired.</div>
                            </div>
                        </div>

                        @if (Model.User.Role == enRole.Customer)
                        {
                            <div class="form-group row" id="form-group-password">
                                <label class="col-4 control-label" for="lastname-input">Password:</label>
                                <div class="col-7">
                                    <div class="input-group">
                                        <input v-model="actual.Password" name="password-input" class="form-control input-md modal-input" id="password-input" type="text" placeholder="Password" maxlength="50" required>
                                        <span class="input-group-btn" style="padding-top:8px;">
                                            <button type="button" role="button" class="btn btn-annulla" style="height: 35px" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="@Resource.PasswordPolicy">
                                                <span class="fontawesome-question-sign" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>
                                    <div v-show="missing.Password" class="validation">@Resource.FieldRequired.</div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group row" id="form-group-confirm-password">
                                <label class="col-4 control-label" for="lastname-input">@Resource.RepeatPassword:</label>
                                <div class="col-7">
                                    <div class="input-group">
                                        <input v-model="actual.ConfirmPassword" name="confirm-password-input" class="form-control input-md modal-input" id="confirm-password-input" type="text" placeholder="Confirm Password" maxlength="50" required>
                                        <span class="input-group-btn" style="padding-top:8px;">
                                            <button type="button" role="button" class="btn btn-annulla" style="height: 35px" data-container="body" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="@Resource.PasswordPolicy">
                                                <span class="fontawesome-question-sign" aria-hidden="true"></span>
                                            </button>
                                        </span>
                                    </div>

                                    <div v-show="missing.ConfirmPassword" class="validation">@Resource.FieldRequired.</div>
                                </div>
                            </div>
                        }
                        <!-- Enable/disable check -->
                        <div class="form-group row form-check">
                            <label class="col-4 control-label" for="enabled-input">@Resource.Enable:</label>
                            <div class="form-check col-7">
                                <label class="container-checkbox">
                                    <input v-model="actual.Enabled" type="checkbox" id="enable-input">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-annulla" onclick="UserManager.clearActualUser()">@Resource.Cancel</button>
                <button type="button" onClick="UserManager.addUser();" class="btn btn-confirm js-add display-none">@Resource.Save</button>
                <button type="button" onClick="UserManager.modifyUser()" class="btn btn-confirm js-modify display-none">@Resource.Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function ()
    {

        $('[data-toggle="popover"]').popover();
        var resource = {
            Username: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Username))',
            FirstName: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.FirstName))',
            LastName: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.LastName))',
            Name: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Name))',
            Role: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Role))',
            Customer: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Customer))',
            Machines: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Machines))',
            Language: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Language))',
            Modify: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Modify))',
            Enable: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Enable))',
            Disable: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Disable))',
            Delete: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Delete))',
            DeleteUser: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.DeleteUser))',
            EnabledUser: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.EnableUser))',
            DisabledUser: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.DisableUser))',
            Error: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Error))',
            Search: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Search))',
            AddUser: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.AddUser))',
            NoRecordAvailables: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.NoRecordsAvailable))',
            NothingFound: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.NothingFound))',
            ModifyUser: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.ModifyUser))',
            ComeBack: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.ComeBack))',
            Continue: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.Continue))',
            EmailNotValid: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.EmailNotValid))',
            PasswordShort: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PasswordShort))',
            PasswordsNotSame: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PasswordsNotSame))',
            CreatedUser: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.CreatedUser))',
            UserSuccessfullyModify: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.UserSuccessfullyModify))',
            UserSuccessfullyDeleted: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.UserSuccessfullyDeleted))',
            PasswordSuccessfullyReseted: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PasswordSuccessfullyReseted))',
            ErrorOccurred: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.ErrorOccurred))',
            ResetUserPassword: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.ResetUserPassword))',
            ResetPassword: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.ResetPassword))',
            UsernameExists: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.UsernameExists))',
            PasswordPolicy: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Resource.PasswordPolicy))'


         };

                var data = @Html.Raw(Json.Encode(Model.User));
                UserManager.init(data, "@ViewBag.BaseUrl", resource);
    });
</script>
