@model FomMonitoringBLL.ViewModel.ProductivityViewModel
@using FomMonitoringResources

<div v-if="piece != null">
    <div class="item clearfix">
        <div class="item-title">
            @Resource.Pieces
        </div>
        <div class="item-label">
            <div class="icon fa fa-puzzle-piece"></div>
            <div>
                <span class="value-title">
                    @Resource.Made
                </span>
                <span class="value">
                    {{ piece.total }}<em>pz</em>
                </span>
            </div>
        </div>
    </div>
    <div class="progress prod">
        <div class="progress-bar bg-max-piece" v-bind:aria-valuenow="piece.done.perc"></div>
        <div class="progress-bar bg-min-piece" v-bind:aria-valuenow="piece.redone.perc"></div>
    </div>
    <table class="table-legend">
        <tr>
            <td><div class="square bg-max-piece"></div>@Resource.Done</td>
            <td>{{ piece.done.perc | round }}<em>%</em></td>
            <td>{{ piece.done.number }}<em>pz</em></td>
        </tr>
        <tr v-if="type != '@enMachineType.Troncatrice.GetDescription()'">
            <td><div class="square bg-min-piece"></div>@Resource.Redone</td>
            <td>{{ piece.redone.perc | round }}<em>%</em></td>
            <td>{{ piece.redone.number }}<em>pz</em></td>
        </tr>
    </table>
</div>
