@model FomMonitoringBLL.ViewModel.JobViewModel
@using FomMonitoringCore.Service

<div id="CardJobs" class="@ViewData["Classes"]" v-show="showed">
    <div class="portlet">
        <div class="portlet-title">
            <div class="portlet-kpi" v-cloak>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" v-bind:class="colorOrders"></i>
                    <i class="fa icofom-jobs fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="title-kpi">
                <span class="testo-abbreviato">@LocalizationService.GetResource("Orders")</span>
                <div class="sub-period js-period d-none d-sm-block"></div>
            </div>
        </div>
        <div class="portlet-body border-panel" v-bind:class="colorOrders">
            <div class="card-portlet table-container" v-if="jobs != null" v-cloak>

                <table class="table table-alerts table-jobs table-header">
                    <thead>
                        <tr>
                            <th width="33%" class="th-duration sorting" v-bind:class="sortingCode" v-on:click="sortCode()">
                                <span class="value-title" style="margin-left: 10px;">
                                    @LocalizationService.GetResource("Code")</span>
                            </th>
                            <th width="7%" id="tblCommessePerc" class="th-duration" >
                                <span class="value-title" style="font-size: 14px;font-weight: bold">%</span>
                            </th>
                            <th style="width:18%;padding-left:10px" class="th-duration sorting job-header testo-abbreviato" v-bind:class="sorting.day" v-on:click="sortDay()">
                                <span class="value-title">@LocalizationService.GetResource("Date")</span>
                            </th>
                            <th style="width: 20%;padding:0" class="th-duration sorting testo-abbreviato job-header" v-bind:class="sorting.duration" v-on:click="sortDuration()">
                                <i class="fa fa-clock-o color-aaa"></i>
                                <span class="value-title" style="font-size: 8px; padding-right: 0">
                                    @LocalizationService.GetResource("TimeResStim")
                                </span>
                            </th>
                            <th style="width: 17%;padding:0" class="th-duration sorting testo-abbreviato job-header" v-bind:class="sorting.duration" v-on:click="sortDuration()">
                                <i class="fa fa-clock-o color-aaa"></i>
                                <span class="value-title" style="font-size: 8px;">
                                    @LocalizationService.GetResource("TimeTot")
                                </span>
                            </th>
                            <th id="tblCommessePiece" style="width: 10%;padding:0" class="th-duration testo-abbreviato job-header">
                                <span class="value-title">
                                    @LocalizationService.GetResource("Pieces")
                                </span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="slimscroll">
                    <table class="table table-alerts table-jobs">
                        <tbody>
                            <tr v-for="job in jobs" v-cloak>
                                <td style="width: 32%; max-width: 160px; word-break: break-all;min-width: 60px;">
                                    <div class="worder-info padding-left-5">
                                        <div class="progress progress-job ">
                                            <div class="progress-bar" v-bind:class="bgClass(job.perc)" v-bind:aria-valuenow="job.perc"></div>
                                        </div>
                                        <div class="item-alert ">
                                            <div class="code-alert">
                                                {{ job.code }}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="code-alert" width="5%">
                                        <span class="pull-left" style="font-size: 16px;">{{ job.perc }}<em>%</em></span>
                                    </div>
                                </td>
                                <td class="testo-a-capo" style="width:18%">
                                    <span>{{job.formatted_day}}</span>
                                </td>
                                <td style="width:17%">
                                    <span v-if="currentState.JobCode == job.code"> {{currentState.ResidueWorkingTimeJobMin}}min 
                                        {{currentState.ResidueWorkingTimeJobSec}}s
                                    </span>
                                </td>
                                <td style="width:16%">
                                    <span>
                                        <time-span v-bind:duration="job.time"></time-span>
                                    </span>
                                </td>
                                <td style="width:12%">
                                    <span>{{ job.quantity }}/{{ job.pieces }}</span>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <no-data v-else></no-data>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function ()
    {
        var data = @Html.Raw(Json.Encode(Model));
        Jobs.init(data);
    });

</script>

